{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}Upload Images | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/uploadForm.css" %}
    {% include "static-local-include.html" with type="js" path="js/UploadImagesHelper.js" %}
{% endblock %}

{% block content %}

  <legend>Upload Images</legend>

  <div class="narrow_column">

    <div class="page_section" id="auto_generate_points_page_section">
      <span class="helptext">{{ auto_generate_points_message|linebreaksbr }}</span>
    </div>

    <div class="page_section">

      {% comment %}
      The images_form's multi-file field is only used to let the user pick
      files to upload. This form isn't directly submitted via Ajax, because we
      want to submit files one by one.
      {% endcomment %}
      {% with images_form.files as field %}
        {{ field.label }}: {{ field }}
      {% endwith %}

      <div class="tutorial-message">
        {% include 'upload/upload_images_help.html' %}
      </div>

    </div>

    <div class="page_section">

      <div id="upload_summary_section">

        <span id="status_display"></span>
        <hr>
        <span id="pre_upload_summary"></span>

        <div id="files_table_auto_scroll_checkbox_container">
            <input type="checkbox" id="files_table_auto_scroll_checkbox" checked="checked">
            <label for="files_table_auto_scroll_checkbox">Auto-scroll to the currently uploading file</label>
        </div>

        {# Table showing the files selected for upload. #}
        <div id="files_table_container">
            <table id="files_table"></table>
        </div>

        <span id="mid_upload_summary"></span>
      </div>


      <div id="upload_and_proceed_buttons">

        {# start/abort upload #}
        <button type="button" class="submit" id="id_upload_submit" disabled="disabled">Start upload</button>
        <button type="button" class="submit" id="id_upload_abort_button" disabled="disabled">Abort upload</button>

        {# start another upload #}
        <form action="" method="get" id="id_start_another_upload_form">
            <input type="submit" value="Upload more images" id="id_start_another_upload_button" />
            <p class="helptext_small">Upload another set of images.</p>
        </form>

        {# proceed to the page where you manage image metadata #}
        <form action="{% url 'visualize_source' source.id %}" method="post"
              id="id_proceed_to_manage_metadata_form">{% csrf_token %}

            {% for field in proceed_to_manage_metadata_form %}
                {{ field }}
            {% endfor %}

            <input type="submit" value="Manage image metadata"
                   name="image_specify_form_from_upload"
                   id="id_proceed_to_manage_metadata_button"/>
            <p class="helptext_small">View and edit the metadata of the images you just uploaded.</p>
        </form>

      </div>

    </div>

  </div>

  <!-- Script in the body will run on page load. -->
  <script type="text/javascript">
    UploadImagesHelper.init({
        uploadPreviewUrl: "{% url 'upload_images_preview_ajax' source.id %}",
        uploadStartUrl: "{% url 'upload_images_ajax' source.id %}"
    });
  </script>

{% endblock %}
