{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}Upload Annotations | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/uploadForm.css" %}
    {# TODO: Add Javascript include #}
{% endblock %}

{% block content %}

  <legend>Upload Points and Annotations (CPC)</legend>

  <div class="narrow_column">

    <div class="page_section">

      <form id="csv_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% with cpc_import_form.cpc_files as field %}
          {{ field.label }}: {{ field }}
        {% endwith %}

        {# TODO: Add help dialog #}
        {% comment %}
        <div class="tutorial-message">
          {% include 'upload/upload_annotations_cpc_help.html' %}
        </div>
        {% endcomment %}
      </form>

    </div>

    <div class="page_section">

      <div id="upload_summary_section">

        <span id="status_display"></span>
        <hr>
        <span id="status_detail"></span>

        <div id="preview_table_container">
          <table id="preview_table"></table>
        </div>
      </div>

      <div id="upload_and_proceed_buttons">

        <button type="button" class="submit" id="id_upload_submit" disabled="disabled">Save points and annotations</button>

      </div>

    </div>

  </div>

  {# TODO: Add Javascript function call(s) #}

{% endblock %}
