{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}Upload | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" %}
{% endblock %}

{% block content %}
  <legend>Upload</legend>
  <p>Choose what you want to upload.</p>

  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="submit" name="images" value="Upload Images" />
    <p>This is the first step: uploading the images you want to analyze.</p>

    <input type="submit" name="metadata" value="Upload Metadata" />
    <p>Adding metadata to your images makes it easier to search for them in the Browse tool.</p>

    <input type="submit" name="annotations_cpc" value="Upload Points/Annotations (CPCe files)" />
    <p>If you've previously annotated some images using Coral Point Count, you can upload those annotations here. You can also upload non-annotated points and then use CoralNet to annotate them.</p>

    <input type="submit" name="annotations_csv" value="Upload Points/Annotations (CSV file)" />
    <p>A more general format for uploading old points and annotations.</p>
  </form>

{% endblock %}
