{% comment %}
This template has includes of general-purpose Javascript files.

It puts the includes in the right order, so this should be the only place
where we worry about dependencies between general-purpose includes.

For any include preceded by "if varname", set varname to any value
(except the empty string) to include that file.  Otherwise, the file
will not be included.

For any include preceded by "if not varname", that file will be
included by default.  If you don't want to include the file, set varname
to any value (except the empty string) to not include it.
{% endcomment %}

{% load static from staticfiles %}


{# jQuery, general purpose JS library #}
{% if not no_jquery %}
    {# jQuery from Google APIs.  Why: http://encosia.com/3-reasons-why-you-should-let-google-host-jquery-for-you/ #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    {# If can't connect to Google APIs (offline development, etc.), can fall back to a copy of jQuery from within our project. Source: http://community.mybb.com/thread-83861-post-611152.html#pid611152 #}
    <script>
    if (!window.jQuery)
        document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>');
    </script>
{% endif %}

{# jQuery UI, jQuery's library for UI elements #}
{# http://jqueryui.com/ #}
{# Must be included after: jQuery #}
{% if jquery_ui %}
    {# jQuery UI from Google APIs.  #}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" />

    {# If can't connect to Google APIs (offline development, etc.), can fall back to our own copy of jQuery UI. #}
    <script>
    if (!jQuery.ui) {
        document.write('<script src="{{ STATIC_URL }}js/jquery-ui.min.js" type="text/javascript"><\/script>');
        document.write('<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery-ui.css" />');
    }
    </script>
{% endif %}

{# jQuery.form, for handling Ajax forms #}
{# https://github.com/malsup/form/ #}
{# Must be included after: jQuery #}
{% if jquery_form %}
    {% include "static-local-include.html" with type="js" path="js/jquery.form.js" %}
{% endif %}

{% comment %}
{# jQuery.progressbar, for progress bars used in file uploads, etc. #}
{# http://t.wits.sg/jquery-progress-bar/ #}
{# Must be included after: jQuery #}
{% if jquery_progressbar %}
    {% include "static-local-include.html" with type="js" path="js/jquery-progressbar/jquery.progressbar.js" %}
{% endif %}
{% endcomment %}

{# jQuery.hotkeys, for pages with keyboard controls #}
{# https://github.com/jeresig/jquery.hotkeys #}
{# Must be included after: jQuery #}
{% if jquery_hotkeys %}
    {% include "static-local-include.html" with type="js" path="js/jquery.hotkeys.js" %}
{% endif %}

{# Bootstrap carousel, for displaying images #}
{# http://twitter.github.io/bootstrap/javascript.html#carousel #}
{# Must be included after: jQuery (Bootstrap makes use of jquery) #}
{% if bootstrap_carousel %}
    {% include "static-local-include.html" with type="js" path="js/bootstrap-carousel.min.js" %}
{% endif %}

{# Google Maps API #}
{% if map %}
    <!--staticmapimgs is required so that map.js and markerclusterer.js find the map symbols.-->
    <script> var staticmapimgs = "{% static 'img/map/' %}"</script>
    {% include "static-local-include.html" with type="js" path="js/map.js" %}
    {% include "static-local-include.html" with type="js" path="js/markerclusterer.js" %}
    {% include "static-local-include.html" with type="css" path="css/map.css" %}

    {# You'll also want to include map_scripts.html in the page template. #}
{% endif %}

{# Our own utility functions and plugin modifications. #}
{# Not just for JS-heavy pages, but also for some basic styling. #}
{# Must be included after: jQuery #}
{% if not no_util %}
    {# One or more variables needed in this module are more easily defined #}
    {# on the Django template level. However, it's best if the module isn't #}
    {# constrained by Django template syntax, so we'll define the variables #}
    {# out here as global variables. #}
    <script>
    window.utilQuestionMarkImage = "{% static "img/question-mark-icon.png" %}";
    </script>
    {% include "static-local-include.html" with type="js" path="js/util.js" %}
{% endif %}

{# On-load events required for supporting asynchronous generation of media. #}
{# Must be included after: util.js #}
{% if not no_async_media_load_events %}
    <script>
    window.generateMediaURL = "{% url 'async_media:media_ajax' %}";
    window.pollForMediaURL = "{% url 'async_media:media_poll_ajax' %}";
    </script>
    {% include "static-local-include.html" with type="js" path="async_media/load-events.js" %}
{% endif %}

{# Our utility classes for forms and fields. #}
{# Must be included after: util.js #}
{% if util_forms %}
    {% include "static-local-include.html" with type="js" path="js/util-forms.js" %}
{% endif %}