{% load get_maintenance_time time_is_past from common_tags %}

{% get_maintenance_time as maintenance_time %}

{% if maintenance_time %}
    <div class="maintenance_message">
        {% if maintenance_time|time_is_past %}
            {# The message when the site is currently under maintenance. #}
            <b>The site is under maintenance.</b>
            During maintenance, the site may abruptly become unavailable,
            and certain pages may not work properly. If you're going to
            upload or change anything, we advise you to use the site at
            a later time. We’re sorry for the inconvenience.
        {% else %}
            {# The message when the site is going to be under maintenance #}
            {# at a particular time. #}
            The site will be under maintenance in
            <b>{{ maintenance_time|timeuntil }}.</b>
            If you're working on something, please wrap it up soon
            and resume when maintenance is over.
            Sorry for the inconvenience.
        {% endif %}
    </div>
{% endif %}