<div class="pagination">
  <div class="line"><span>
    Showing {{ page_results.start_index }}-{{ page_results.end_index }}
    of {{ page_results.paginator.count }}
  </span></div>

  <div class="pagination-links">

    {% if page_results.has_previous %}

      {% if use_post_form %}

        <form action="" method="post" class="no-padding">
          {% csrf_token %}
          {% for field in hidden_form %}
            {{ field }}
          {% endfor %}

          <input type="hidden" name="page"
            value="{{ page_results.previous_page_number }}" />
          <input type="submit" class="page"
            value="<" title="Previous page" />
        </form>

      {% else %}

        <a href="?page={{ page_results.previous_page_number }}&{{ query_string }}"
           class="prev-next-page" title="Previous page"> &lt; </a>

      {% endif %}

    {% endif %}

    <span>
      Page {{ page_results.number }}
      of {{ page_results.paginator.num_pages }}
    </span>

    {% if page_results.has_next %}

      {% if use_post_form %}

        <form action="" method="post" class="no-padding">
          {% csrf_token %}
          {% for field in hidden_form %}
            {{ field }}
          {% endfor %}

          <input type="hidden" name="page"
            value="{{ page_results.next_page_number }}" />
          <input type="submit" class="page"
            value=">" title="Next page" />
        </form>

      {% else %}

        <a href="?page={{ page_results.next_page_number }}&{{ query_string }}"
           class="prev-next-page" title="Next page"> &gt; </a>

      {% endif %}

    {% endif %}

  </div>
</div>