# Files that are meant to differ between dev and production
secrets.json
images/task_helpers.py
templates/maintenance_notice.html

# Compiled Python
*.pyc

# Temporary files made by text/code editors
*~

# Apache configs
apache/django.wsgi

# IDE stuff
.idea

# Folders with the backend outputs
/images/models/*
/images/classify/*
/images/features/*
/images/preprocess/*
/logs/*

# Misc
/images/robot_running_flag
/misc_not_versioncontrolled/*
/tmp/*
supervisor*
