# Files that are meant to differ between dev and production
secrets.json
project/images/task_helpers.py
project/templates/maintenance_notice.html
coralnet_sqlite_database

# Compiled Python
*.pyc

# Temporary files made by text/code editors
*~

# Sphinx output files
docs/_build
docs/_static
docs/_templates

# Apache configs
apache/django.wsgi

# IDE stuff
.idea

# Folders with the backend outputs
project/images/models/*
project/images/classify/*
project/images/features/*
project/images/preprocess/*
/logs/*

# Misc
project/images/robot_running_flag
/misc_not_versioncontrolled/*
/tmp/*
supervisor*
.DS_STORE
