# Specific files which are unique per machine or generated somehow
project/config/settings/secrets.json
project/templates/maintenance_notice.html

# Coverage output files
.coverage
htmlcov

# Sphinx output files
docs/_build
docs/_static
docs/_templates

# Compiled Python
*.pyc

# Jupyter
*.ipynb

# Redis dumps
*.rdb

# Celery stuff
*.pid

# Database stuff
coralnet_sqlite_database
*.db

# Temporary files made by text/code editors
*~

# IDE stuff
.idea

# Mac
.DS_STORE

# Misc
/misc_not_versioncontrolled/*
/tmp/*
