#   A basic travis.yml boilerplate for Django projects
#
#   The set-up assumes a postgreSQL database.
#
#   Replace the following variables in the code:
# * your_project_settings
# * your_github_username
# * your_repo

language: python

python:
  - 2.7

services: postgresql

env:
  - DJANGO=1.11.23

before_install:
  - export DJANGO_SETTINGS_MODULE=config.settings.travis
  - export PYTHONPATH=$HOME/builds/beijbom/coralnet/project
  - export PIP_USE_MIRRORS=true

install:
  - pip install -r requirements/production.txt
  - pip install django==$DJANGO --quiet
  - pip install psycopg2 --quiet

before_script:
  - psql -c "CREATE DATABASE travis_ci_test;" -U postgres
  - mkdir ../log
  - mkdir ../tmp
  - cd project

script:
  - python manage.py migrate
  - python manage.py test