{% extends 'base.html' %}

{% block title %}Re-send activation email - CoralNet{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}

  <legend>Re-send activation email</legend>

  Still need to activate your account? Enter the email address you used when registering, and we'll send you another activation email.

  {{ form.non_field_errors }}
  {% for field in form %}
    {% include "form_generic_one_field.html" with field=field %}
  {% endfor %}

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Send activation email" />
  </div>
</form>

{% endblock %}
