{% autoescape off %}
You're receiving this e-mail because you requested a password reset
for your user account (username: {{ user.username }}) at CoralNet.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


If you didn't ask for a password reset, you may safely ignore this email. Someone might have typed in your email address by mistake. If you keep getting these emails without having requested them, we can look into it if you let us know here: {{ account_questions_link }}


Sincerely,
The CoralNet team
{% endautoescape %}
