{% extends 'base.html' %}

{% block title %}Reset password - CoralNet{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}

  <legend>Reset password</legend>

  <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% include "form_generic_one_field.html" with field=field %}
  {% endfor %}

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Send password reset email" />
  </div>
</form>

{% endblock %}
