{% extends 'base.html' %}

{% block title %}Reset password - CoralNet{% endblock %}

{% block content %}

{% if validlink %}

<form action="" method="post">
  {% csrf_token %}

  <legend>Enter new password</legend>

  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% include "form_generic_one_field.html" with field=field %}
  {% endfor %}

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Change my password" />
  </div>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.

{% endif %}

{% endblock %}
