{% extends 'base.html' %}

{% block title %}Register a new account - CoralNet{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}

  <legend>Register a new account</legend>

  <div class="line">
    Please read our data policy on the
    <a href="{% url 'about' %}" target="_blank">About page</a>.
  </div>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% include "form_generic_one_field.html" with field=field %}
  {% endfor %}

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Register" />
  </div>

  <div class="line">
    Problems with registration or activation? You can reach us with our <a href="{% url 'contact' %}">Contact form</a>.
  </div>
</form>

{% endblock %}
