{% extends "base.html" %}

{% block title %}CPC batch editor - CoralNet{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/uploadForm.css" %}
    {% include "static-local-include.html" with type="js" path="js/zipjs-no-worker-deflate.min.js" %}
    {% include "static-local-include.html" with type="js" path="js/CPCBatchEditor.js" %}
{% endblock %}

{% block content %}

  <h2>CPC-file batch editor</h2>

  <p>
    This tool allows you to edit many .cpc files (created by CPCe) in a single operation.
  </p>

  <p>
    <strong>Step 1:</strong> Drag and drop .cpc files, or folder(s) containing .cpc files, into the area below.
  </p>

  <div id="cpc-drop-zone">
    <div>Drag and drop files/folders here</div>
    <div id="drop-zone-preview"></div>
  </div>

  <p>
    <strong>Step 2:</strong> Provide a CSV file which specifies how to transform existing labels. There are two accepted formats:
  </p>
  <table>
    <tr><th>CSV example</th><th>What it does</th></tr>
    <tr>
      <td>
        <table class="generic">
          <tr>
            <th>Old ID</th><th>New ID</th>
          </tr>
          <tr>
            <td>PORIT</td><td>HARDCORAL</td>
          </tr>
          <tr>
            <td>PAVEMENT</td><td>ROCK</td>
          </tr>
        </table>
      </td>
      <td>
        <ul>
          <li>Points with ID of PORIT will have their ID changed to HARDCORAL</li>
          <li>Points with ID of PAVEMENT will have their ID changed to ROCK</li>
          <li>All other points will be unchanged</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <table class="generic">
          <tr>
            <th>Old ID</th><th>Old Notes</th><th>New ID</th><th>New Notes</th>
          </tr>
          <tr>
            <td>ACROP</td><td>LAMINAR</td><td>ACROP</td><td>PLATING</td>
          </tr>
          <tr>
            <td>TURF</td><td>ROCK</td><td>NONCORAL</td><td></td>
          </tr>
        </table>
      </td>
      <td>
        <ul>
          <li>Points with ID = ACROP and Notes = LAMINAR will be changed to have ID = ACROP and Notes = PLATING. This does not affect points which have ACROP but not LAMINAR</li>
          <li>Points with ID = TURF and Notes = ROCK will be changed to have ID = NONCORAL and blank Notes</li>
          <li>All other points will be unchanged</li>
        </ul>
      </td>
    </tr>
  </table>
  <p>
    Be sure to select the appropriate "Fields to process" option to indicate which format you're using.
  </p>

  <form id="process-form" enctype="multipart/form-data" method="post"
    action="{% url 'cpce:cpc_batch_editor_process_ajax' %}"
  >
    {% csrf_token %}

    {{ form.label_spec_fields.label }}: {{ form.label_spec_fields }}
    {{ form.label_spec_csv.label }}: {{ form.label_spec_csv }}
  </form>

  <p>
    <strong>Step 3:</strong> After providing the above files, CoralNet will start processing them. When it's done, you should see a preview of the batch-edit below. Click the "Download edited CPCs" button to get a .zip file download containing the edited .cpc files.
  </p>

  <div id="upload_summary_section">
    <span id="status_display">Info will show up here once files are selected</span>
    <hr>
    <span id="status_detail"></span>

    <div id="preview_table_container">
      <table id="preview_table"></table>
    </div>
  </div>

  <form id="download-form" method="get"
    action="{% url 'cpce:cpc_batch_editor_file_serve' %}"
  >
    <input type="hidden" name="session_data_timestamp" />
    <input type="submit" value="Download edited CPCs" disabled />
  </form>

  <p>
    <strong>Step 4:</strong> Extract the .zip file's contents to your preferred folder location on your computer. If you want to overwrite your original .cpc files with the edited ones, you can extract to the same location that you chose in Step 1. Don't forget to double-check the .cpc files before overwriting anything.
  </p>

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    // Tell zip.js to not use web workers.
    // (We use a zip.js build without web workers support.)
    zip.configure({useWebWorkers: false});

    let cpcBatchEditor = new CPCBatchEditor();
  </script>

{% endblock %}
