{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}Upload Annotations | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/uploadForm.css" %}
    {% include "static-local-include.html" with type="js" path="js/UploadAnnotationsCPCHelper.js" %}
{% endblock %}

{% block content %}

  <div class="tool-heading">
    <span>Upload Points and Annotations (CPC)</span>
    <div class="tutorial-message">
      {% include 'cpce/upload_help.html' %}
    </div>
  </div>

  <div class="narrow_column">

    <div class="page-section">

      <form id="cpc_form" action="" method="post" enctype="multipart/form-data" class="no-padding">
        {% csrf_token %}
        {{ cpc_import_form }}
      </form>

    </div>

    <div class="page-section">

      <div id="upload_summary_section">

        <span id="status_display"></span>
        <hr>
        <span id="status_detail"></span>

        <div id="preview_table_container">
          <table id="preview_table"></table>
        </div>
      </div>

      <div id="upload_and_proceed_buttons">

        <button type="button" class="submit red" id="id_upload_submit" disabled="disabled">Save points and annotations</button>

      </div>

    </div>

  </div>

  <!-- Script in the body will run on page load. -->
  <script type="text/javascript">
    UploadAnnotationsCPCHelper.initForm({
        uploadPreviewUrl: "{% url 'cpce:upload_preview_ajax' source.id %}",
        uploadStartUrl: "{% url 'cpce:upload_confirm_ajax' source.id %}"
    });
  </script>

{% endblock %}
