{% extends "base.html" %}

{% block title %}Summary of async jobs | CoralNet{% endblock %}


{% block css-includes %}
  {% include "static-local-include.html" with type="css" path="css/jobs.css" %}
{% endblock %}


{% block content %}

<div class="tool-heading">
  <span>Summary of async jobs</span>
</div>

<form action="" method="get" class="no-padding">
  <div class="center-box-wrapper">
    <div class="form-box">
      {{ job_summary_form }}

      <div class="submit_button_wrapper_center">
        <input type="submit" value="Apply filters">
      </div>
    </div>
  </div>
</form>

{% if search_error %}

  <div class="line">{{ search_error }}</div>

{% else %}

  <table class="generic" id="job-summary">
    <thead>
      <tr>
        <th>Source</th>
        <th>In progress</th>
        <th>Pending</th>
        <th>Completed in last {{ completed_day_limit }} days</th>
        <th>Last job activity</th>
      </tr>
    </thead>
    <tbody>
      <tr id="all-jobs-summary">
        <td>
          <a href="{% url 'jobs:all_jobs_list' %}">
            <em>All jobs</em>
          </a>
        </td>
        <td class="in_progress"><strong>{{ overall_job_counts.in_progress|default:0 }}</strong></td>
        <td class="pending"><strong>{{ overall_job_counts.pending|default:0 }}</strong></td>
        <td class="completed"><strong>{{ overall_job_counts.completed|default:0 }}</strong></td>
        <td><strong>{{ overall_job_counts.last_activity }}</strong></td>
      </tr>
      <tr id="non-source-summary">
        <td>
          <a href="{% url 'jobs:non_source_job_list' %}">
            <em>Non-source jobs</em>
          </a>
        </td>
        <td class="in_progress">{{ non_source_job_counts.in_progress|default:0 }}</td>
        <td class="pending">{{ non_source_job_counts.pending|default:0 }}</td>
        <td class="completed">{{ non_source_job_counts.completed|default:0 }}</td>
        <td>{{ non_source_job_counts.last_activity }}</td>
      </tr>
      {% for source_entry in source_table %}
        <tr>
          <td class="source">
            <a href="{% url 'jobs:source_job_list' source_entry.source_id %}">
              {{ source_entry.source_name }}
            </a>
          </td>
          <td class="in_progress">{{ source_entry.in_progress|default:0 }}</td>
          <td class="pending">{{ source_entry.pending|default:0 }}</td>
          <td class="completed">{{ source_entry.completed|default:0 }}</td>
          <td>{{ source_entry.last_activity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}
