<form action="" method="get" class="no-padding">
  <div class="center-box-wrapper">
    <div class="form-box">
      {{ job_search_form }}

      <div class="submit_button_wrapper_center">
        <input type="submit" value="Apply filters">
      </div>
    </div>
  </div>
</form>

{% if search_error %}

  <div class="line">{{ search_error }}</div>

{% elif job_table %}

  <div class="line">
    <strong>Job counts:</strong> {% include 'jobs/job_summary_line.html' %}
  </div>

  <table class="generic" id="job-table">
    <thead>
      <tr>
        <th title="Job ID">Job ID</th>
        <th title="Job type">Type</th>
        {% if has_source_column %}
          <th title="Source the job applies to">Source</th>
        {% endif %}
        <th title="Image ID or anything else relevant to this job">Other ID</th>
        <th title="Progress status">Status</th>
        <th title="Notes about the result, or error message if the job failed">Detail</th>
        <th title="Time the job's status was last updated; * means the record will stay after {{ job_max_days }} days">Last updated</th>
        <th title="Time since in-progress job was queued, time taken for job to complete, or time until job is scheduled to start. Hover over the text to see the job's scheduled date">Duration</th>
      </tr>
    </thead>
    <tbody>
      {% for job_entry in job_table %}
        <tr class="{{ job_entry.status }}">
          <td>{{ job_entry.id }}</td>
          <td>{{ job_entry.job_type }}</td>
          {% if has_source_column %}
            <td class="source">
              {% if job_entry.source_id %}
                <a href="{% url 'jobs:source_job_list' job_entry.source_id %}">
                  {{ job_entry.source_name }}
                </a>
              {% endif %}
            </td>
          {% endif %}
          <td>
            {% if job_entry.image_id %}
              <a href="{% url 'image_detail' job_entry.image_id %}">
                Image {{ job_entry.image_id }}
              </a>
            {% elif job_entry.api_job_unit_id %}
              <a href="{% url 'api_management:job_detail' job_entry.api_job_id %}">
                API unit {{ job_entry.api_job_unit_id }}
              </a>
            {% endif %}
          </td>
          <td>{{ job_entry.status_display }}</td>
          <td class="detail">{{ job_entry.result_message|linebreaksbr }}</td>
          <td>
            {{ job_entry.modify_date }}
            {% if job_entry.persist %} * {% endif %}
          </td>
          <td>
            <span title="Scheduled to start: {{ job_entry.scheduled_start_date }}">
              {% if job_entry.status == 'pending' %}
                {{ job_entry.scheduled_start_date|timeuntil }} until scheduled start
              {% elif job_entry.status == 'in_progress' %}
                {{ job_entry.scheduled_start_date|timesince }}
              {% else %}
                {# completed #}
                {{ job_entry.scheduled_start_date|timesince:job_entry.modify_date }}
              {% endif %}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pagination_links.html' with page_results=page_results query_string=query_string %}

  <div class="line">Most job records are cleaned up after approximately {{ job_max_days }} days, except for jobs with * in Last updated.</div>

{% else %}

  <div class="line">(No jobs found)</div>

  <div class="line">Most job records are cleaned up after approximately {{ job_max_days }} days.</div>

{% endif %}
