{% extends "base.html" %}

{% block title %}Async Jobs | CoralNet{% endblock %}


{% block css-code %}
<style>
td.pending {
  background-color: #bbe;
}
td.in_progress {
  background-color: #eeb;
}
td.recently_completed {
  background-color: #beb;
}
</style>
{% endblock %}


{% block content %}

<h1>Async Jobs</h1>

<table class="generic" id="sources-with-jobs">
  <thead>
    <tr>
      <th>Source</th>
      <th>In progress</th>
      <th>Pending</th>
      <th>Completed in last {{ completed_days_shown }} days</th>
    </tr>
  </thead>
  <tbody>
    {% for table_entry in source_table %}
      <tr>
        <td>
          <a href="{% url 'jobs:source_dashboard' table_entry.source_id %}">
            {{ table_entry.source_name }}
          </a>
        </td>
        <td class="in_progress">{{ table_entry.in_progress|default:0 }}</td>
        <td class="pending">{{ table_entry.pending|default:0 }}</td>
        <td class="recently_completed">{{ table_entry.recently_completed|default:0 }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p id="non-source-summary">
  <a href="{% url 'jobs:non_source_dashboard' %}">Non-source jobs</a>:
  {{ non_source_job_counts.in_progress|default:0 }} in progress,
  {{ non_source_job_counts.pending|default:0 }} pending,
  {{ non_source_job_counts.recently_completed|default:0 }} completed in last {{ completed_days_shown }} days
</p>

{% endblock %}
