{% extends "images/base_source.html" %}

{% block title %}Jobs for {{ source.name }} | CoralNet{% endblock %}


{% block css-code %}
<style>
tr.pending {
  background-color: #bbe;
}
tr.in_progress {
  background-color: #eeb;
}
tr.success {
  background-color: #beb;
}
tr.failure {
  background-color: #ebb;
}
</style>
{% endblock %}


{% block content %}

<h1>Jobs</h1>

{% if latest_source_check_message %}
  <p><em>Latest source check result:</em> {{ latest_source_check_message }}</p>
{% else %}
  <p>This source hasn't been status-checked recently.</p>
{% endif %}

{% if job_table %}

  <table class="generic" id="jobs-table">
    <thead>
      <tr>
        <th title="Job ID">Job ID</th>
        <th title="Job type">Type</th>
        <th title="Image ID the job is for, if applicable">Image ID</th>
        <th title="Progress status">Status</th>
        <th title="Error message or other note about the result">Detail</th>
        <th title="Time the job's status was last updated">Last updated</th>
      </tr>
    </thead>
    <tbody>
      {% for table_entry in job_table %}
        <tr class="{{ table_entry.status_tag }}">
          <td>{{ table_entry.id }}</td>
          <td>{{ table_entry.job_type }}</td>
          <td>
            {% if table_entry.image_id %}
              <a href="{% url 'image_detail' table_entry.image_id %}">
                {{ table_entry.image_id }}
              </a>
            {% endif %}
          </td>
          <td>{{ table_entry.status }}</td>
          <td>{{ table_entry.result_message }}</td>
          <td>{{ table_entry.modify_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pagination_links.html' with page_results=page_results %}

{% else %}

  <p>(No jobs found)</p>

{% endif %}

<p>Only jobs from the last {{ job_max_days }} days are shown.</p>

{% endblock %}
