{% extends "images/base_source.html" %}

{% block title %}Jobs for {{ source.name }} | CoralNet{% endblock %}


{% block css-includes %}
  {{ block.super }}
  {% include "static-local-include.html" with type="css" path="css/jobs.css" %}
{% endblock %}


{% block content %}

<div class="tool-heading">
  <span>Jobs</span>
</div>

<div class="line" id="source-check-status">
  {% if latest_check %}
    {% if check_in_progress %}
      This source is currently being checked for jobs to queue.
    {% else %}
      <strong>Latest source check result:</strong>
      {{ latest_check.result_message }}
      ({{ latest_check.modify_date }})
    {% endif %}
  {% else %}
    This source hasn't been status-checked recently.
  {% endif %}
</div>

{% include 'jobs/job_table.html' %}

{% endblock %}
