{% extends 'accounts/base_accounts.html' %}

{% block title %}Edit profile - CoralNet{% endblock %}

{% block css-code %}
<style type="text/css">
input#id_website {
    width: 300px;
}
</style>
{% endblock %}

{% block content %}

<legend>Edit profile</legend>

<form action="" enctype="multipart/form-data" method="post" class="inline">
  {% csrf_token %}

  {% for field in form %}
    <div class="line">
      {% if field.name == 'use_email_gravatar' %}
        {% include "form_generic_one_field.html" with field=field checkbox="yes" %}
      {% else %}
        {% include "form_generic_one_field.html" with field=field %}
      {% endif %}
    </div>
  {% endfor %}

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Save Changes" />
  </div>
</form>

<form action="{% url 'profile_edit_cancel' %}" method="get" class="inline">
  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Cancel Changes" />
  </div>
</form>

{% endblock %}
