{% extends 'accounts/base_accounts.html' %}

{% block title %}Edit profile - CoralNet{% endblock %}

{% block css-code %}
<style>
input#id_website {
    width: 300px;
}
</style>
{% endblock %}

{% block content %}

<legend>Edit profile</legend>

<form action="" enctype="multipart/form-data" method="post" class="no-padding">
  {% csrf_token %}

  {% include "form_generic_one_field.html" with field=main_form.privacy %}
  {% include "form_generic_one_field.html" with field=user_form.first_name %}
  {% include "form_generic_one_field.html" with field=user_form.last_name %}
  {% include "form_generic_one_field.html" with field=main_form.affiliation %}
  {% include "form_generic_one_field.html" with field=main_form.website %}
  {% include "form_generic_one_field.html" with field=main_form.location %}
  {% include "form_generic_one_field.html" with field=main_form.about_me %}
  <div class="line">
    {% include "form_generic_one_field.html" with field=main_form.avatar_file %}
  </div>
  <div class="line">
    {% include "form_generic_one_field.html" with field=main_form.use_email_gravatar checkbox="yes" %}
  </div>

  <div class="submit_button_wrapper_column_form">
    <input type="submit" class="red" value="Save Changes" />
  </div>
</form>

<form action="{% url 'profile_edit_cancel' %}" method="get" class="no-padding">
  <div class="submit_button_wrapper_column_form">
    <input type="submit" class="red" value="Cancel Changes" />
  </div>
</form>

{% endblock %}
