{% extends 'base.html' %}
{% load get_media_prefix from static %}

{% block title %}{{ profile.user.username }}'s profile - CoralNet{% endblock %}

{% block css-code %}
<style type="text/css">
#details{
    width: 500px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    border-radius: 7px;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
  width: 142px;
  height: 142px;
	margin: 0 0 10px;
}
</style>
{% endblock %}

{# Don't show the profile menu if you're viewing someone else's profile #}
{# TODO: Make this relevant again by adding the profile menu #}
{#{% block nav_profile %}#}
{#  {% if profile.user.username == user.username %}#}
{#    {{ block.super }}#}
{#  {% endif %}#}
{#{% endblock %}#}

{% block content %}

<legend>{{ profile.user.username }}'s profile</legend>

<div id="details">
  <img src="{% get_media_prefix %}{{ profile.avatar.name }}"
       title="{{ profile.user.username }}'s avatar" />
  {% if profile.user.get_full_name %}
  <p><strong>Name</strong><br /> {{ profile.user.get_full_name }}</p>
  {% endif %}
  {% if profile.age %}
  <p><strong>Age</strong><br /> {{ profile.age }}</p>
  {% endif %}
  {% if profile.website %}
  <p><strong>Website</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
  {% endif %}
  {% if profile.location %}
  <p><strong>Location</strong><br />{{ profile.location }}</p>
  {% endif %}
  {% if profile.about_me %}
  <p><strong>About me</strong><br />{{ profile.about_me|linebreaksbr }}</p>
  {% endif %}
</div>
    
{% endblock %}
