{% extends 'accounts/base_accounts.html' %}
{% load get_media_prefix from static %}

{% block title %}{{ profile.user.username }}'s profile - CoralNet{% endblock %}

{% block css-code %}
<style type="text/css">
#details{
    width: 500px;
    margin: 0 0;
    background-color: #fffeff;
    padding: 6px;
    text-align: left;
    border-radius: 7px;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
}

#details img{
  width: 142px;
  height: 142px;
	margin: 0 0 10px;
}
</style>
{% endblock %}

{% block content %}

<legend>{{ profile.user.username }}'s profile</legend>

{% if profile.user == user %}
  <div class="line">
    <a href="{% url 'profile_edit' %}">Edit your profile</a>
  </div>
{% endif %}

<div id="details">
  <img src="{{ profile.get_avatar_url }}"
       title="{{ profile.user.username }}'s avatar" />
  {% if profile.user.get_full_name %}
  <p><strong>Name</strong><br /> {{ profile.user.get_full_name }}</p>
  {% endif %}
  {% if profile.affiliation %}
  <p><strong>Affiliation</strong><br /> {{ profile.affiliation }}</p>
  {% endif %}
  {% if profile.website %}
  <p><strong>Website</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
  {% endif %}
  {% if profile.location %}
  <p><strong>Location</strong><br />{{ profile.location }}</p>
  {% endif %}
  {% if profile.about_me %}
  <p><strong>About me</strong><br />{{ profile.about_me|linebreaksbr }}</p>
  {% endif %}
</div>
    
{% endblock %}
