/* Some form/field rules to make styling a bit cleaner compared to
 using master.css. */
/* TODO: Merge some of these rules into master.css? */

div.box {
    padding: 10px;
    margin: 10px 0;

    background-color: #e0e0e0;
    border: 1px solid #000000;
    border-radius: 5px;
}
div#search-form-box {
    width: 800px;

    /* Center horizontally */
    margin: 10px auto;
}
form {
    margin: 0;
    padding: 0;
    width: auto;
}
label {
    width: auto;
}


/* Image/patch thumbnail grid, indicating annotation status. */
img.thumb.confirmed, img.thumb.annotated {
    border: 4px #00CC00 solid;
}
img.thumb.unconfirmed {
    border: 4px #FF9900 solid;
}
img.thumb.needs_annotation {
    border: 4px #CC4444 solid;
}


/* Edit-metadata form. */
#id_metadata_form input[type="text"].changed {
    border-color: blue;
}
#id_metadata_form input[type="text"].error {
    border-color: red;
}
textarea {
    /* Make this fit better in a grid (at the expense of ease of editing). */
    width: 200px;
    height: 1.5em;
    margin: 0;
}
#metadataFormTable td {
    /* Make the text fields and text areas line up better.
    'baseline' makes them line up weird. */
    vertical-align: middle;
}


/* Customize the help dialog contents. This should really go in a site-global
   CSS instead of in here (and in the Upload CSS), so do that at some point. */
.ui-widget {
    /* Override jQuery UI defaults */
    font-family: inherit;
    font-size: 0.9em;
}
.ui-widget ul li {
    /* Make help-dialog lists bulleted */
    list-style-type: disc;
    list-style-position: outside;

    line-height: 1.2em;

    margin: 10px 0 10px 20px;   /* t r b l */
}