<div class="article-body">

<h3>Export Annotations, CSV</h3>

<p>CoralNet will prepare the annotations as a CSV (comma-separated values) file, which can then be downloaded to your computer and opened in a spreadsheet program like Excel.</p>

<p>By default, includes columns for: Image name, Pixel row (Y), Pixel column (X), and Label. There are also optional sets of columns available:</p>

<ul>
  <li>Annotator info: The username of the user who made the annotation, and the date the annotation was made. Imported annotations show as "Imported" and machine annotations show as "robot".</li>

  <li>Machine suggestions: Labels and confidence scores for the machine's top 5 suggestions.</li>

  <li>Image metadata - date and auxiliary fields: The image's date field and 5 auxiliary metadata fields.</li>

  <li>Image metadata - other fields: Other image metadata fields such as depth, camera, and white balance.</li>
</ul>

<p><strong>Tip:</strong> If you are only interested in Confirmed annotations, then first do an image search with "Annotation status" set to "Confirmed", and then export annotations.</p>

{% include 'export/help_wait_times.html' %}

</div>
