{% extends "images/base_source.html" %}

{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/highcharts.js" %}
  {% include "static-local-include.html" with type="js" path="js/heatmap.js" %}
{% endblock %}

{% block title %}Backend Inspector|CoralNet{% endblock %}

{% block css-code %}
<style>
#alleviate {
    width: 60%;
    height: 300px;
    margin: 10px auto;
}
#cm-wrapper {
    height: 900px;
    width: 900px;
    overflow: scroll;
    margin: 10px auto;
    position: relative;
}
#cm {
    margin: 0 auto;
}
</style>
{% endblock %}

{% block javascript-functions %}

<script>

$(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'alleviate',
            type: 'line',
        },
        title: {
            text: 'Confidence threshold sweep'
        },
        xAxis: {
            title: {
                text: 'Confidence threshold (%)'
            },
            name: 'Confidence'
        },
        yAxis: {
            title: {
                text: '(%)'
            },
            min: 0,
            max: 100,
        },
        tooltip: {
            shared: true,
            crosshairs: true,
        },
        series: [{
            name: 'Label accuracy (%)',
            data: {{alleviate.acc_full | safe}},
            lineWidth: 3,
            color: 'blue',
        },{
            name: 'Func. group accuracy (%)',
            data: {{alleviate.acc_func | safe}},
            lineWidth: 3,
            color: 'red',
        },{
            name: 'Fraction above th. (%)',
            data: {{alleviate.ratios | safe}},
            lineWidth: 3,
            color: 'grey',
        }]
    });
});

$(document).ready(function() {
    var chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'cm',
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 200,
        },
        title: {
            text: {{cm.title_ | safe}},
        },
        yAxis: {
            categories: {{cm.ylabels | safe}},
            title: null
        },
        xAxis: {
            categories: {{cm.xlabels | safe}},
            title: null
        },
        colorAxis: {
            min: 0,
            minColor: '#FFFFFF',
            maxColor: Highcharts.getOptions().colors[0]
        },
        tooltip: {
            formatter: function () {
                return this.point.value + '% of <i>' + this.series.xAxis.categories[this.series.xAxis.categories.length - 1 - this.point.y] + '</i> classified as <i>'+ this.series.xAxis.categories[this.point.x] + 
                '</i>.';
            }
        },
        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },
        series: [{
            turboThreshold:0,
            showInLegend: false,
            borderWidth: 0.2,
            data: {{cm.data_ | safe}},
            dataLabels: {
                enabled: true,
                color: 'black',
                style: {
                    textShadow: 'none'
                }
            }
        }]
    });
});

</script>

{% endblock %}


{% block content %}

  <div class="tool-heading">
    <span>Vision backend diagnostics</span>
    <div class="tutorial-message">
      {% include 'vision_backend/help_backend.html' %}
    </div>
  </div>

  {% if has_classifier %}
    <p>
      This plot shows the latest classifier's evaluated accuracy when we only include points over a certain confidence threshold. The source's confidence threshold setting is {{ source.confidence_threshold }}%; to change it, ask the source admin to visit the <a href="{% url 'source_edit' source.id %}">source admin page</a>.
    </p>
    <div id="alleviate"></div>

    <p>
      The below confusion matrix shows which labels the classifier performs better or worse on, and which labels it frequently confuses with other labels. Note that the classifier is evaluated on a random 1/8ths-subset of the confirmed point annotations (the other 7/8ths are used for training). For more info, click the '?' button above.
    </p>
    <h3>
      Confusion matrix options
    </h3>

    <form action="" method="get" class="no-padding">
      {{ form }}
      <div class="submit_button_wrapper_column_form">
        <input type="submit" value="Update confusion matrix display" name="cm_params" class="red">
      </div>
    </form>

    <form action="" method="post" class="no-padding">
      {% csrf_token %}
      <div class="submit_button_wrapper_column_form">
        <input type="submit" name="export_cm" value="Export confusion matrix as CSV" class="red" />
      </div>
    </form>

    <div id="cm-wrapper">
      <div id="cm" style="height: {{cm.css_height}}px; width: {{cm.css_width}}px;"></div>
    </div>

  {% else %}

    <p>
      <i>This source does not have an automated classifier yet.</i>
    </p>

  {% endif %}

{% endblock %}