{% extends "base.html" %}


{% block content %}

<p>There are {{img_stats.nimgs}} images on the site out of which {{img_stats.nextracted}} ({{img_stats.fextracted}}%) have features, {{img_stats.nconfirmed}} ({{img_stats.fconfirmed}}%) are confirmed and {{img_stats.nclassified}} ({{img_stats.fclassified}}%) classified. {{img_stats.nnaked}} are neither classified nor confirmed ({{img_stats.fnaked}}%).</p>

<p>There are {{clf_stats.nclassifiers}} trained classifieres out of which {{clf_stats.nvalidclassifiers}} are valid. This means there are on average {{clf_stats.valid_ratio}} valid classifiers per each of the {{clf_stats.nsources}} sources. </p>

<table class="detail_table_popup">
    <tr>
        <th>id</th>
        <th>name</th>
        <th># ver rbts</th>
        <th># rbts</th>
        <th>need new</th>
        <th># imgs</th>
        <th># ver.</th>
        <th># in curr.</th>
        <th># need feats</th>
        <th># uncl.</th>
    </tr>
    {% for source in laundry_list %}
        {% if source.need_attention %}
            <tr style="background-color:red;color:#000">
        {% else %}
            {% if source.has_robot %}
                <tr style="background-color:green;color:#000">
            {% else %}
                <tr style="background-color:gray;color:#000">
            {% endif %}
        {% endif %}
        <td> <a href="{% url 'source_main' source.id %}">{{source.id}}</a></td>
        <td> {{source.name_short}} </td>
        <td> {{source.nbr_valid_robots}} </td>
        <td> {{source.nbr_robots}} </td>
        <td> {{source.need_robot}} </td>
        <td> {{source.nbr_total_images}} </td>
        <td> {{source.nbr_human_annotated_images}} </td>
        <td> {{source.nbr_in_current_model}} </td>
        <td> {{source.nbr_images_needs_features}} </td>
        <td> {{source.nbr_unclassified_images}} </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}