{% extends 'base.html' %}

{% block title %}Email Users{% endblock %}

{% block css-code %}
<style type="text/css">
textarea#id_body {
    width: 400px;
    height: 20em;
}
</style>
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
  <p>Use this form to send an email to all registered users.</p>
  {% include "form_generic.html" with form=form %}
  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Send Emails" />
  </div>
</form>

{% endblock %}
