{% extends 'accounts/base_accounts.html' %}

{% block title %}Change email - CoralNet{% endblock %}

{% block content %}

  <legend>Change email address</legend>

  <form action="" method="post">
    {% csrf_token %}

    <p>Your current email address is: {{ user.email }}</p>

    <p>Need to change it? Enter your new email address here. Once you submit, we'll send a confirmation email to your new email address.</p>

    {% include "form_generic.html" with form=form %}

    <div class="submit_button_wrapper_column_form">
      <input type="submit" value="Change email" />
    </div>
  </form>

{% endblock %}
