{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block selected_password_change %}selected{% endblock %}

{% block content %}

    <form action="" method="post" id="password_change_form">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Change Password" %}</legend>
            <p>Please enter your old password, for security's sake,
                and then enter your new password twice
                so we can verify you typed it in correctly.</p>
            {% include "form_generic.html" with form=form %}
        </fieldset>
        <div class="submit_button_wrapper_column_form">
            <input type="submit" value="{% trans "Change my password" %}" />
        </div>
    </form>
    
{% endblock %}
