#job-table th {
  /* Give indication that there are tooltips */
  cursor: help;
}

#job-summary td.pending,
#job-table tr.pending {
  background-color: #bbe;
}
#job-summary td.in_progress,
#job-table tr.in_progress {
  background-color: #eeb;
}
#job-table tr.success {
  background-color: #beb;
}
#job-table tr.failure {
  background-color: #ebb;
}
#job-summary td.completed {
  background-color: #beb;
}
