<p>Rates are in units of kg CaCO<sub>3</sub> m<sup>-2</sup> yr<sup>-1</sup>. A rate above 0 means that the label's presence contributes to positive carbonate production (i.e., calcification). A rate below 0 means that the label's presence contributes to negative carbonate production (i.e., bioerosion).</p>

<p>CoralNet's calcification rates are derived from <a href="http://geography.exeter.ac.uk/reefbudget/" target="_blank">ReefBudget</a>'s data.</p>

{# TODO: Link to Zenodo repo with rate table change history #}
