<div class="article-body">


<p>Rates are in units of kg CaCO<sub>3</sub> m<sup>-2</sup> yr<sup>-1</sup>. A rate above 0 means that this label's presence tends to contribute to reef carbonate production. A rate below 0 corresponds to carbonate erosion.</p>

<p>Note that only some of CoralNet's labels have rates provided. CoralNet's calcification rates are derived from <a href="http://geography.exeter.ac.uk/reefbudget/" target="_blank">ReefBudget</a>'s data.</p>

{# TODO: Links to default rate tables #}
{# TODO: Link to Zenodo repo with rate table change history #}

</div>
