<div class="article-body">


<p>
  Note that only some of CoralNet's labels have rates provided, and many of those labels only have rates provided in one region.
  You can view all the rates CoralNet provides in CSV format here:

  {# Links to default rate tables #}
  {% for table in calcification_tables %}
    <a href="{% url 'calcification:rate_table_download' table.pk %}">
      {{ table.region }}
    </a>

    {% if not forloop.last %}
      ,
    {% endif %}
  {% endfor %}
</p>

{% include 'calcification/help_rates.html' %}


</div>
