<table class="detail_table">
  {% for rate_table in default_calcification_tables %}
    <tr>
      <td>{{ rate_table.name }}</td>
      <td>
        <form action="{% url 'calcification:rate_table_download' rate_table.pk %}" method="get">
          <button>Download CSV</button>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

<p>If a table does not define a rate for a particular label, CoralNet's computation assumes a rate of 0 for that label.</p>

{% include 'calcification/help_rates.html' %}
