/* Top box of the index page */
#intro{
    padding: 40px 20px;
    min-height: 255px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow: inset 0 0 3px #999;
   position: relative;
   overflow: hidden;
}

#intro h1{
    font-size: 3.2em;
    margin: 10px 20px 0 480px;
    color: #ac1500;
}

#intro span.beta{
    font-size: 0.4em;
    vertical-align: super
}

#intro h2{
    font-size: 1.8em;
    margin: 0 20px 9px 480px;
    padding: 0 0 5px;    /* Padding gives room for the background stripe */
    background: url(../img/stripe.png) repeat-x 0 bottom;
}

#intro p{
    font-size: 1.2em;
	margin: 0 20px 20px 480px;
}

#intro a.sign-in{
    font-size: 1.8em;
    margin: 0 20px 0 520px;
}

#intro a.register{
    font-size: 1.8em;
    margin: 0 20px 0 20px;

}

#intro a.about{
    font-size: 1.8em;
    margin: 0 0 0 20px;
}


/* Other index page elements */

#myCarousel{
    position: absolute;
    overflow: hidden;
    width: 440px;
    margin: 0 0 0 10px;
}

div.index-container-after-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.site-stats > ul > li {
    margin: 0.75em 0;    /* top/bottom left/right */
}


/* Site News box (index page and source list page) */

div.site-news {
    min-width: 250px;
    max-width: 400px;
}
div.site-news > ul > li {
    margin: 0.75em 0;    /* top/bottom left/right */
}


/* Source List page */

div.source-list-page-top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.source-list-page-top-container > * {
    margin: 0 20px;    /* Top/bottom left/right */
}

div.your-sources > table {
    min-width: 300px;
    max-width: 500px;
}

a.create-source-link {
    display: block;
    margin: 1.0em 0;    /* top/bottom left/right */
}
