
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    line-height: 140%;
    color:#777;
}

.center {
    max-width:600px;
    margin: 0 auto;     
    padding: 100px 40px 100px 40px; 
}


ul.indexlist {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 30px 0 30px 0;
    text-align: center;    
}
ul.indexlist li {
    display: inline;
    margin-left: 30px;
    font-size:16px;
}
ul.indexlist li.first-item {
    margin-left: 0;
}

.abstract {font-size:16px; margin-bottom:20px; }
.uparrow {text-align: right; margin-bottom:20px; margin-top:20px;}
.uparrow-final {text-align: right; margin-top:40px;} 
.border{border-bottom: 1px solid #eee;}
    
.section-anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.section-anchor-top{
    top: -100px;
}