#map-canvas {
    /* The map will always take its size from that of its containing element,
    so you must always set a size on that <div> explicitly.
    https://developers.google.com/maps/documentation/javascript/tutorial#Map_DOM_Elements */
    width: 100%;
    height: 500px;
}


#map-legend {
    background: white;
    opacity: 0.5;
    padding: 10px;
}
/* Vertically center elements on each row of the legend */
#map-legend > div {
    display: flex;
    align-items: center;
}
/* Horizontally center the icon within a space of 40px */
#map-legend .icon-container {
    width: 40px;
    display: inline-block;
    text-align: center;
}
#map-legend .icon-container img {
    max-width: 40px;
}


img.source-example-image {
    padding: 0 3px;  /* top/bottom left/right */
}
