/*
CSS EXPLANATIONS

margin: spacing around the outside of an element.
 4 values = top right bottom left.
 3 values = top left+right bottom.
 2 values = top+bottom left+right.
 If both left and right have a value of auto,
 then the element is centered horizontally.
*/

@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);


/*  Custom properties
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
................................... */

:root {
  --link-color: hsl(6, 100%, 27%);
  --main-font: 'Droid Sans', helvetica, arial, Geneva, sans-serif;
}


/*	Main elements
................................... */

html, body{
    color: #444;
    font-family: var(--main-font);
    background: #eae5e1 url(../img/bg-container.png) repeat-y center top;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#container{
    width: 1008px;
    margin: 30px auto 50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
     -moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
	background-color: #f6f4f2;
	border: 1px solid #fff;
	padding: 0 10px;
}

#content-container{
    padding: 12px;
    position: relative;
}


/*	Navigation bars
................................... */

div.nav_container {
    margin: 20px;
    position: relative;
    height: 40px;
}

ul.nav {
    position: absolute;
    overflow: auto;
    display: flex;
}
ul.nav_left {
    left: 0;
}
ul.nav_right {
    right: 0;
}

ul.nav > li {
    /* Don't word wrap */
    flex-shrink: 0;

    margin: 0 5px;
}

ul.nav > li > a,
ul.nav > li > form {
    background-color: hsl(0, 0%, 70%);
    display: block;
    /* The padding adds shadow around each button;
       it also expands the button's clickable area */
    padding: 1px 4px 4px 1px;
    border-radius: 10px;

    /* Styling the form like a link */
    margin: 0;
    width: auto;
    cursor: pointer;
}
ul.nav > li > :active {
    /* Shift position like a pressed button */
    padding: 3px 2px 2px 3px;
}

/* This is for the stuff within a button (background and text) */
ul.nav > li span,
ul.nav > li button {
    display: block;
    color: hsl(0, 0%, 41%);
    padding: 0.5em 1.4em;
    border-radius: 7px;
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 100%, 85%),
      hsl(0, 0%, 100%, 55%)
    );
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;

    /* Style resetting for button */
    border: 0;
    font-family: inherit;
    cursor: inherit;
}

ul.nav > li > a:hover > span,
ul.nav > li > a:active > span,
ul.nav > li > form:hover > button,
ul.nav > li > form:active > button {
    background-color: hsl(0, 0%, 88%);
}

ul.nav li.button_prominent a {
    background-color: hsl(0, 31%, 68%);
}
ul.nav li.button_prominent a:hover span,
ul.nav li.button_prominent a:active span {
    background-color: hsl(0, 55%, 66%);
}

#nav_profile li a {
    background-color: hsl(60, 41%, 65%);
}
#nav_profile li a:hover span,
#nav_profile li a:active span {
    background-color: hsl(60, 61%, 63%);
}


/*	Type
................................... */

h1, h2, h3, h4, h5, h6, div.tool-heading {
    font-family: var(--main-font);
    text-transform: uppercase;
}

p{
    font-size: 1.0em;
    line-height: 1.5em;
    margin: 0 0 0.9em 0;
    text-shadow: #ffffff 1px 1px 0;
}

/* This is kind of like <p> in that it stylistically functions to add
  some top/bottom margins. But this is more flexible than p; for example,
  p cannot contain div, but div can contain almost anything. */
div.line {
    margin: 0.5em 0;  /* top/bottom left/right */
}

div.narrow_column {
    width: 800px;
    margin: 0 auto;  /* top/bottom left/right */
}

div.page-section {
    margin: 20px 0;  /* top/bottom left/right */
    padding: 0;

    width: auto;
}

/* This can work similarly to h2 etc., while being more flexible. */
div.tool-heading {
    color: hsl(0, 0%, 50%);
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    margin-bottom: 5px;
}

h1{
    font-size: 2.2em;
    margin-bottom: 0.6em;
}

h2{
    font-size: 1.4em;
    margin-bottom: 1.0em;
}

/* Smaller text on the same line as the main h2 text. */
h2 span.subheader{
    font-size: 0.7em;
    text-transform: none;
}

h3{
    font-size: 1.2em;
    margin: 0 0 5px;
}

h4{
    font-size: 1.2em;
}

h5{
    font-size: 1.0em;
}

h6{
    font-size: 0.7em;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* a.button: CSS previously used for "Compose Message" and "Reply" buttons for userena Messages */
a.button{ 
    background: #ede9e4; 
	display: block;
	width: 200px;
    padding: 4px 4px 3px; 
    text-decoration: none; 
    outline: 0; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    clear: both;
    position: absolute;
    right: 20px;
    top: -55px;
}

a.button span { 
    display: block; 
    color: #8b0908; 
    padding: 0.52em 1.6em 0.48em;  
    text-shadow: rgba(255,254,255,0.45) 0 1px 0; 
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 3px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 3px;
    -webkit-border-radius: 7px; 
    -moz-border-radius: 7px; 
    border-radius: 7px;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(1.0, rgba(255,255,255,0.15)), color-stop(1.0, rgba(255,255,255,0.01)), to(transparent)); 
    background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 100%, rgba(255,255,255,0.01) 100%, transparent);
    -webkit-background-clip: padding-box;
    text-decoration: none;
    font-size: .9em;
    line-height: 1.4em;
    font-weight: bold;
	text-align: center;
}

a.button:active span {  
    background-color: #e0dfda;
    -webkit-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    -moz-box-shadow: rgba(33,33,33,0.45) 0px 0px 1px; 
    box-shadow: rgba(33,33,33,0.45) 0px 0px 1px;
    padding: 0.58em 1.6em 0.30em;
    line-height: 1.5em;
}


hr.light {
    background-color: #dddddd;
    border: none;
    height: 2px;
}

hr.narrow {
    margin: 2px 0;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
dt {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
dd {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 40px;
}
/* Nested lists have smaller top/bottom margins. */
:is(ul, ol, dir, menu, dl) dl {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

table.generic {
    border: 1px solid #999999;
    /* Firefox seems to make border widths inconsistent
     if border-collapse: collapse */
    border-collapse: separate;
    margin: 5px;
}
table.generic th,
table.generic td {
    border: 1px solid #999999;
    padding: 5px;
}

/* Styling to indicate keyboard keys */
kbd {
    font: inherit;    /* No monospaced font, just the usual font */
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 0 2px;    /* 2px of horizontal padding */
    background-color: #DDDDDD;

    border: 1px solid black;
    border-radius: 3px;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}


/*	Forms
................................... */

form {
    margin: 15px auto 20px;
    padding: 12px 0;
    width: 800px;
}

/* The element around the whole form field, containing the label, field, helptext, and errors. */
form p, .form_item_wrapper {
    padding: 3px 0;  /* vertical horizontal*/
    margin: 0;
    overflow: auto;  /* This allows the element to expand for multi-line labels and such */
}

/* We're slowly porting all <form> elements to not have padding, margin, etc.
 of their own, leaving that to an outer or inner div instead. This is a
 transitional class to use until all forms are like this. */
form.no-padding {
    margin: 0;
    padding: 0;
    width: auto;
}

label {
    font-size: 1.0em;
    color: #444;
}

label.column_form_text_field {
    /* inline allows another element to sit to the right of
       this element, and block allows this element to have margins. */
    display: inline-block;
    /* Defining a set width allows all field labels to sit in one "column"
       in the form.  Then we can align the label text to the right side
       of that column. */
    text-align: right;
    width: 250px;

    /* Put the label at the correct vertical alignment (ugh)... */
    vertical-align: top;
    margin-top: 6px;
}

label.grid_checkbox {
    display: inline-block;
    width: 150px;
}

/* An input element's label that also doubles as a section header.
   For example, the section may be an optional part of the form, and the
   input element may be a checkbox toggling that section on and off.

   This is supposed to look like a section header, so it uses basically
   the same style as .section_header h3 and legend.small. */
label.section_header {
    display: inline-block;

    padding: 5px 0 6px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #ab292a;
    font-weight: bold;
    text-transform: none;
}

/* ...and if the section is toggled off, then
   we can style this differently. */
label.section_header.disabled {
    color: #888888;
}


.field_wrapper {
    display: inline-block;
}

/* Checkbox field wrappers contain the checkbox and the label. */

.checkbox_field_wrapper {
    /* Indent by the same amount as a text field's label width */
    margin-left: 250px;
}
.grid_checkbox_field_wrapper {
    /* In an 800-px-wide form, this will create 4 columns of checkboxes. */
    display: inline-block;
    width: 190px;

    /* Separate rows of checkboxes a bit, so that multi-line labels
     * don't run so close to the label of the next row */
    margin: 3px 0;    /* top/bottom left/right */
}

input[type=text], input[type=number], input[type=email], input[type=url],
input[type=password], input[type=file], textarea, span.editable {
    border: 1px solid #d7d7d7;
    display: inline-block;
    padding: 3px 5px 4px;    /* top left/right bottom */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    font-size: 0.9em;
    color: #000;
}

input[type=checkbox] {
    padding: 14px 0;
}

/* Dropdown box */
select {
    min-width: 60px;
    margin: 5px 0;    /* top/bottom left/right */

    font-size: 0.9em;
}

input:focus,
textarea:focus,
span.editable:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #4c4c4c;
}

/* Multiline text field */
textarea {
    width: 300px;
    height: 8em;

    margin: 3px 0;    /* top/bottom left/right */
}
textarea.large {
    width: 400px;
    height: 16em;
}

/* TODO: Add the 'red' class to all of the site's standard-styled submit
    buttons, and then make the below rules apply only to 'red'. That way,
    the other submit button styles don't have to reset all of these
    rules. */
input[type=submit], button.submit,
input[type=submit].red, button.submit.red {
    height: 35px;
    display: inline;
    line-height: 34px;
    padding: 0 10px;
    margin-top: 4px;
    min-width: 150px;
    background-color: #ab292a;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px outset #ce3024;
    color: #f9f9f9;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: #5e98bd 0 -1px 0;
    text-align: center;
    cursor: pointer;
    font-family: var(--main-font);
}

input[type=submit]:active, button.submit:active,
input[type=submit].red:active, button.submit.red:active {
    line-height: 36px;  /* Intended effect is to make the button move a bit as you click it.  May not work the same in FF and Chrome though. */
    background-color: #bd302d;
    border: 1px inset #ce3024;
}

input[type=submit][disabled], button.submit[disabled],
input[type=submit][disabled].red, button.submit[disabled].red {
    line-height: 34px;
    background-color: #666666;
    color: #9f9f9f;
    border: 1px outset #888888;
    cursor: default;
}
/* Don't define a [disabled]:active style, so the disabled submit button doesn't change appearance when you click it */

input[type=submit].link {
    /* Make these input elements look like links. */
    background: none;
    color: var(--link-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-shadow: none;

    min-width: inherit;
    height: inherit;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


/* Wrap one or multiple submit buttons of a form. */

.submit_button_wrapper_column_form {
    /* Form where the labels are on the left column and fields are
     * on the right column.
     * Line this up with the fields... */
    margin-left: 254px;
}
.submit_button_wrapper_center {
    /* The buttons go in the center. */
    text-align: center;
}

/* Field errors.  "This field is required", etc. */
ul.errorlist {
    background-color: #fedae0;
    color: #a3181c;
    margin: 3px 0 3px 0;    /* top right bottom left */
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
ul.errorlist li {
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 5px 4px 5px;
    max-width: 250px;
}

.errorlist_wrapper {
    
}

/* Help text for a field (e.g. "No more than 20 characters") */
.helptext {
    display: block;
    line-height: 120%;
    width: 500px;
}

.helptext_small {
    display: block;
    font-size: 0.9em;
    width: 500px;
}

.helptext_long {
    display: block;
    line-height: 120%;
    width: 800px;
}

.extra_help_text, .dialog_help_text, .tutorial-message {
    /* Extra help text starts out hidden, and can be shown via Javascript
       when the user clicks a button or link. */
    display: none;
}

a.extra_help_text_link, a.dialog_help_text_link {
    cursor: pointer;

    font-size: 0.9em;
}

/* For groups of fields */
fieldset {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
}
/* A special header, conventionally for fieldsets */
/* Note: legends are only supposed to be in fieldsets, according to W3C.
   In contrast, h1, h2, etc. can go anywhere. */
legend {
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 1.3em;
    color: #777;
    font-weight: bold;
	text-transform: uppercase;
}
legend.small {
    font-size: 1.2em;
    text-transform: none;
}
legend.smaller {
    padding: 0;
    border: none;
    font-size: inherit;
    color: inherit;
    text-transform: none;
}


/* Special cases */

/* Table rows that can be clicked to toggle form values, like checkboxes.
   Used in the labelset form. */
.checkbox_row td.clickable_cell{
    cursor: pointer;
}
/* Multiple classes like .class1.class2 may not work in IE6 */
.checkbox_row.selected td.clickable_cell{
    background-color: #bbbbdd;
}
.checkbox_row.selected.disabled td.clickable_cell{
    cursor: default;
    background-color: #aaaaaa;
}


/*  pagination
....................................*/


div.pagination-links {
    display: flex;
}

/* Previous/Next page links which use POST. */
input[type=submit].page,
/* Previous/Next page links which use GET. */
a.prev-next-page{
    /* Make these input elements look roughly like normal buttons. */
    background: hsl(0, 0%, 80%);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-shadow: none;

    min-width: inherit;
    height: inherit;
    border: none;
    border-radius: 3px;
    padding: 0 3px;
    margin: 0 5px;
    cursor: pointer;
}


/*	footer
................................... */ 
#footer{
    background: url(../img/stripe.png) repeat-x center top;
    padding-top: 5px;
}

#footer p{
    font-size: 0.7em;
    margin-bottom: 0.5em;
}   

#footer p a{
	font-weight: bold;
}


/*	notifications
................................... */

#top{
    background-color: #111;
    border-bottom: 1px solid #fff;
}

ul.messages{
    font-size: 0.8em;
    font-weight: bold;
    width: 540px;
    margin: 0 auto;  /* vertical horizontal */
}

ul.messages li{
    background-color: #fcf5d8;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 20px;
    text-align: center;
}

div.maintenance_message {
    background-color: #FFCCCC;

    width: 540px;
    margin: 0 auto;  /* vertical horizontal */
    padding: 4px 20px;

    font-size: 0.9em;
}


/*	object list / detail pages
................................... */

/* A list of details (e.g. name, age...) */
ul.detail_list li {
    line-height: 1.8em;
}
ul.detail_list li ul{
    list-style: disc;
    padding-left: 2em;
}
/* Multiple lists of details in succession */
div.details ul {
    margin: 25px 0;    /* top/bottom left/right */
}
div.details ul li {
    line-height: 1.8em;
}

/* A list of objects (e.g. source 1, source 2...) */
ul.object_list li {
    line-height: 1.5em;
}

/* Table details
 * (label list page) */
table.detail_table {
    border: 1px solid #999999;
    border-collapse: separate;  /* Firefox seems to make border widths inconsistent if border-collapse: collapse */
}
table.detail_table th,
table.detail_table td {
    border: 1px solid #999999;
    padding: 5px;
}

table.detail_table_scroll {
    display: block;
    border-collapse: separate;  /* Firefox seems to make border widths inconsistent if border-collapse: collapse */
    max-height: 400px;
    overflow-y: scroll;
}
table.detail_table_scroll th,
table.detail_table_scroll td {
    border: 1px solid #999999;
    padding: 5px;
}


table.detail_table.horizontal {
    border: none;
    display: inline-block;
}
table.detail_table.horizontal th,
table.detail_table.horizontal td {
    border: none;
    padding: 3px 5px;  /* vertical horizontal */
}

/* Table details popup
 * (used in confusion matrix pop-ups) */
table.detail_table_popup {
    border: 1px solid #999999;
    border-collapse: separate;  /* Firefox seems to make border widths inconsistent if border-collapse: collapse */
    table-layout: fixed;
}
table.detail_table_popup th,
table.detail_table_popup td {
    border: 1px solid #999999;
    padding: 5px;
    white-space: nowrap;
}

table.detail_table_popup.horizontal {
    border: none;
    display: inline-block;
}
table.detail_table_popup.horizontal th,
table.detail_table_popup.horizontal td {
    border: none;
    padding: 3px 5px;  /* vertical horizontal */
}

/* Newsfeed messages may contain lists. Style these similarly to lists in
 * articles. */
table.newsfeed_table ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2em;
}
table.newsfeed_table ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* thumbnails and thumbnail wrappers
................................... */

span.thumb_wrapper {
    display: inline-block;  /* Allow putting elements side by side + allow block properties like padding, width */
    text-align: center;  /* Horizontally center the element within */

    width: 158px;  /* 150px for the image, 4px+4px for the image border */
    padding: 11px;  /* Total width of 158px+11px+11px = 180px */

    /* Effective height of <max image height in row, including border>+11px+11px */
}

span.thumb_large_wrapper {
    display: inline-block;
    text-align: center;

    width: 300px;
    padding: 12px; /* Total width of 300px+12px+12px = 324px */

    /* Effective height of <max image height in row, including border>+12px+12px */
}

span.thumb_front_wrapper {
    display: inline-block;
    text-align: center;

    height: 230px;
    padding: 0px 0px 20px;

}

img.thumb {
    vertical-align: middle;
}

img.thumb_small {
    vertical-align: middle;  /* This works as long as the thumbnail isn't in a wrapper element... */
}


/* articles: blog posts, help dialogs, etc.
................................... */

div.article-body {
    line-height: 1.4em;
}

div.article-body ul {
    /* disc is the W3-standard default */
    list-style-type: disc;
    /* If the list item has multiple lines, this makes all the lines start
       at the same horizontal position, NOT counting the disc */
    list-style-position: outside;
    /* Indentation. This matches GitHub. For comparison, Wikipedia uses
       1.6em of left margin. */
    padding-left: 2em;
}
div.article-body ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.article-body h1, div.article-body h2,
div.article-body h3, div.article-body h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.article-body p {
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.article-body table {
    border: 1px solid #999999;
    /* Firefox seems to make border widths inconsistent
     if border-collapse: collapse */
    border-collapse: separate;
    margin: 5px;
}
div.article-body table th,
div.article-body table td {
    border: 1px solid #999999;
    padding: 5px;
}

div.article-body img {
    /* Add a border around images by default. In site articles, many
       of these images are site screenshots, whose backgrounds would
       blend in with the article background if there were no border. */
    border: 2px solid #ccc;
}
div.article-body img[alt$="icon"] {
    /* Do not add a border around images whose alt attribute ends with
       'icon'. In some cases we'll add a site icon in-line when explaining
       something. A border can cause confusion in this case, making people
       think the border is part of the icon.

       The reason we detect icons from alt text, rather than from CSS
       class, is that it's not always convenient to specify CSS classes
       when writing Markdown (this requires specifying the image using HTML
       rather than using Markdown syntax). */
    border: none;
}
