{% extends "andablog/base.html" %}
{% load andablog_tags %}

{% block content %}
  <h1>
    {{ entry.title }}
    {% if not entry.is_published %}(Draft){% endif %}
  </h1>

  <div class="blog-entry-meta">
    {{ entry.published_timestamp|date:"DATE_FORMAT" }}
    {% if entry.author %}
      by {{ entry.author|authordisplay }}
    {% endif %}
  </div>

  <div class="blog-entry-content">
    {{ entry.content }}
  </div>

  {# Navigate between entries #}
  <div class="blog-entry-navigation">
    {% with newer_entry=entry.next_newest_entry %}
      {% if newer_entry %}
        <a href="{{ newer_entry.get_absolute_url }}"
           title="{{ newer_entry.title }}">
          &lt; Newer: {{ newer_entry.title|truncatechars_html:40 }}
        </a>
        |
      {% endif %}
    {% endwith %}

    <a href="{% url 'blog:entry_list' %}">
       Blog home</a>

    {% with older_entry=entry.next_oldest_entry %}
      {% if older_entry %}
        |
        <a href="{{ older_entry.get_absolute_url }}"
           title="{{ older_entry.title }}">
          Older: {{ older_entry.title|truncatechars_html:40 }} &gt;
        </a>
      {% endif %}
    {% endwith %}
  </div>
{% endblock %}
