#map {
    /*
    When Leaflet loads, it accounts for the height of this element.
    Also, the amount of map content shown at the initial zoom level is
    sensitive to the width and height here.
    */
    width: 100%;
    height: 500px;

    margin-top: 20px;
}

/* Color public source markers green, and private source markers red.
   The default marker icon is blue. */
.leaflet-marker-icon.public-source,
.legend-image.public-source {
    filter: hue-rotate(240deg);
}
.leaflet-marker-icon.private-source,
.legend-image.private-source {
    filter: hue-rotate(120deg);
}


#map-legend {
    display: flex;
    gap: 25px;

    background: white;
    opacity: 0.8;

    padding: 8px;
    margin-bottom: 40px;
}
#map-legend > div {
    /* Vertically center legend elements. */
    display: flex;
    align-items: center;
}
#map-legend .legend-image {
    max-width: 22px;
    margin: 0 5px;
}
#map-legend .marker-cluster {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}


img.source-example-image {
    padding: 0 3px;  /* top/bottom left/right */
}
