{% comment %}
This form template is meant to be used with the "include" template tag.
{% endcomment %}

<fieldset>
  <legend class="small">General Information</legend>

  <span class="helptext_long">To learn about the differences between public and private sources, please read our <a href="{% url 'about' %}#datapolicy">data policy</a>.</span>

  {% include "form_generic_one_field.html" with field=sourceForm.name %}
  {% include "form_generic_one_field.html" with field=sourceForm.visibility %}
  {% include "form_generic_one_field.html" with field=sourceForm.affiliation %}
  {% include "form_generic_one_field.html" with field=sourceForm.description %}
</fieldset>

<fieldset>
    <legend class="small">Names for Auxiliary Metadata Fields</legend>
    <span class="helptext_long">
    We provide several standard metadata fields for your images such as Date, Camera, Photographer, etc. These 5 auxiliary metadata fields, on the other hand, can be named anything you like.<br /><br />

    We encourage using these auxiliary metadata fields to guide how your images are organized. For example, if your coral images are taken at 5 different sites, then you can name one of these metadata fields Site, and then specify a site for each image: North Point, East Shore, etc. You will then be able to do things such as browse through all unannotated images from North Point, or aggregate coral coverage statistics over the images from East Shore.<br /><br />

    You can use as few or as many of these 5 metadata fields as you like.
    </span>

    {% include "form_generic_one_field.html" with field=sourceForm.key1 %}
    {% include "form_generic_one_field.html" with field=sourceForm.key2 %}
    {% include "form_generic_one_field.html" with field=sourceForm.key3 %}
    {% include "form_generic_one_field.html" with field=sourceForm.key4 %}
    {% include "form_generic_one_field.html" with field=sourceForm.key5 %}
</fieldset>

<fieldset>
    <legend class="small">Image Annotation</legend>

    <legend class="smaller">Default image annotation area</legend>
    <span class="helptext_long">{{ annotationAreaForm.form_help_text|linebreaksbr }}</span>
    {% include "annotations/form_annotation_area.html" with form=annotationAreaForm type="percent" %}

    <hr class="light"/>

    <legend class="smaller">Point generation method</legend>
    <span class="helptext_long">{{ pointGenForm.form_help_text|linebreaksbr }}</span>
    {% include "form_generic.html" with form=pointGenForm %}

    {# Careful with boolean short-circuiting - 'source' is only available if we are editing a source. #}

    {% if source_form_type == "edit" and not source.enable_robot_classifier %}
        <hr class="light"/>

        <legend class="smaller">Machine annotation</legend>
        <span class="helptext_long">
            Status:
            Disabled. If you wish to enable machine annotation for this
            source, please
            <a href="{{ forum_link }}" target="_blank">contact us</a>.
        </span>
    {% endif %}

    {% if source_form_type == "edit" or source.enable_robot_classifier %}
        <hr class="light"/>

        <legend class="smaller">Level of alleviation</legend>

        <span class="helptext_long">
        The CoralNet alleviate feature offers a trade-off between fully automated and fully manual annotation. This is done by auto-accepting machine annotations when they are sufficiently confident. 
        
        This auto-acceptance happens when you enter the annotation tool for an image. Effectively, the machine's most confident points are "alleviated" from your annotation workload (for that image). Alleviated annotation decisions are treated as 'Confirmed', and are included when you export your annotations. <br/><br/>
        
        Users control this functionality by specifying the classifier confidence threshold. For example, with 90% confidence threshold all point annotation for which the classifier is more than 90% confident will be done automatically.<br/><br/>
        
        When the first robot version is trained for your source, you can see the trade-off between confidence threshold, the fraction of points above each threshold, and the annotation accuracy. We recommend that you set the confidence threshold to 100% until you have seen this trade-off curve. <br/><br/>
        
        <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0130312">This study</a> suggests that a 5% drop is annotation accuracy has marginal (if any) impact on derived cover estimates. We therefore suggest that you set the level of confidence threshold corresponding to a 5% drop in accuracy.<br/><br/>

        </span>

        {% include "form_generic_one_field.html" with field=sourceForm.confidence_threshold dont_show_help_text="True" %}
    {% endif %}

    {% if source_form_type == "new" or source.enable_robot_classifier %}
        <hr class="light"/>

        <legend class="smaller">Feature extractor</legend>

        <span class="helptext_long">
        We recommend the EfficientNet extractor for all use-cases. It is faster and 2-3% more accurate on average. It is a more modern neural network architecture and trained on more data. The legacy VGG16 extractor is provided only for sources that want to retain their old classifiers, for example, if they are already deployed in a survey.
        </span>

        {% if source_form_type == "edit" %}
          <span id="feature-extractor-change-warning">
          WARNING: The feature extractor has been changed. If you save this change, this source's entire classifier history will be deleted, and a new classifier will be generated.
          </span>
        {% endif %}

        {% include "form_generic_one_field.html" with field=sourceForm.feature_extractor_setting dont_show_help_text="True" %}
    {% endif %}
</fieldset>

<fieldset>
  <legend class="small">World Location</legend>
  <span class="helptext_long">
    We'll use this to mark your source on our front-page map.
    <br />
    Your source will be shown on the map if it contains at least
    {{ map_minimum_images }} images, and the source name doesn't include words
    like "test".
    <br />
    To get your source's coordinates, try
    <a href="http://www.latlong.net/" target="_blank">latlong.net</a>.
  </span>
  {% include "form_generic_one_field.html" with field=sourceForm.latitude %}
  {% include "form_generic_one_field.html" with field=sourceForm.longitude %}
</fieldset>
