{% load thumbnail %}

<div class="line" style="font-size: 1.4em;">
  {% if source.is_public %}
    <strong><a href="{% url 'source_main' source.id %}">Click to explore the {{ source.name }} data source.</a></strong>
  {% else %}
    <strong>{{ source.name }}</strong>
  {% endif %}
</div>

<div class="line">{{ source.affiliation }}</div>

<div class="line">{{ source.description|truncatewords:100 }}</div>

<div class="line">Number of images: {{ source.image_set.count }}</div>

{% if source.is_public %}
  <div class="line">
    {% for example_image in example_images %}
      <img class="source-example-image"
           src="{% thumbnail example_image.original_file 100x100 %}"
           title="{{ example_image.get_image_element_title }}"/>
    {% endfor %}
  </div>
{% endif %}
