{% extends "base.html" %}

{% block title %}New Source | CoralNet{% endblock %}

{% block page-specific-includes %}
    {% include "form_media_versioned.html" with form=pointGenForm %}
{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_form="yes" jquery_ui="yes" %}
{% endblock %}

{% block content %}

    <legend>Create a New Source</legend>
    <p>If you're not sure how to get started here, consider viewing our <a href="http://vimeo.com/104152471">Source setup tutorial</a> on Vimeo.</p>

    {% with source_form_type="new" %}

    <form action="" method="post">{% csrf_token %}
      {% include "images/form_source.html" with sourceForm=sourceForm pointGenForm=pointGenForm annotationAreaForm=annotationAreaForm %}

      <div class="submit_button_wrapper_column_form">
        <input type="submit" value="Create Source" />
      </div>
    </form>

    {% endwith %}

{% endblock %}
