{% extends "base.html" %}

{% load humanize %}

{% block js-includes %}
  {% include "javascript-includes.html" with map="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="css" path="css/index.css" %}
{% endblock %}

{% block content %}

  <div class="source-list-page-top-container">

    <div class="your-sources">
      <h2>Your Sources</h2>

      <table class="detail_table">
        <tr>
          <th>Source</th>
          <th>Your Role</th>
        </tr>
        {% for source in your_sources %}
          <tr>
            <td><a href="{% url 'source_main' source.id %}">
              {{ source.name }}</a></td>
            <td>{{ source.your_role }}</td>
          </tr>
        {% endfor %}
      </table>

      <a href="{% url 'source_new' %}" class="create-source-link">
        + Create a new Source</a>
    </div>

    {% include 'lib/site_news_box.html' %}

  </div>

  <hr />
  <h2>Other Public Sources</h2>

  {% include 'lib/map.html' %}

  <div class="index-container-after-map">
  <div class="site-stats">
    <h2>Sitewide Statistics</h2>
    <ul>
      <li>Number of sources: {{ total_sources|intcomma}}</li>
      <li>Number of images: {{ total_images|intcomma}}</li>
      <li>Number of point annotations: {{ total_annotations|intcomma}}</li>
    </ul>
  </div>
  </div>
  <hr />

  <ul class="object_list">
    {% for source in other_public_sources %}
      <li><a href="{% url 'source_main' source.id %}">
        {{ source.name }}</a></li>
    {% endfor %}
  </ul>

  {% include 'lib/map_scripts.html' with map_sources=map_sources %}

{% endblock %}
