{% load thumbnail %}

<div class="line source-detail-box-header">
  {% if source.is_public %}
    <a
      href="{% url 'source_main' source.id %}"
      title="Click to explore this data source"
    >
      {{ source.name }}
    </a>
  {% else %}
    {{ source.name }}
  {% endif %}
</div>

<div class="line">Affiliation: {{ source.affiliation }}</div>

<div class="line">Description: {{ source.description|truncatewords:40 }}</div>

<div class="line">Number of images: {{ source.image_set.count }}</div>

{% if source.is_public %}
  <div class="line example-images-line">
    {% for example_image in example_images %}
      <div class="example-image-container">
        <img
          class="source-example-image"
          src="{% thumbnail example_image.original_file 100x100 %}"
          alt="Example image"
        />
      </div>
    {% endfor %}
  </div>
{% endif %}
