{% extends "base.html" %}

{% block content %}
    <h2>Sources</h2>

    <p>A Source is CoralNet's name for a coral analysis project.</p>

    <p>To get started, create a Source or get invited to a Source. You can choose to make your Source public or private.
       Once you have a Source, you'll create a labelset, which is the set of labels that you'll use to annotate your images.
       Image annotation means identifying points of the image: as Acropora coral, Porites coral, algae, and so on.</p>
    
    <p>Once you have a Source and labelset, you can upload images and start annotating them, using our in-browser annotation tool.
       You can also upload pre-existing annotations.
       Then, you can view annotation statistics on your entire Source or a subset of images. You can filter or aggregate images by image date and up to 5 custom metadata fields that you define.</p>

    {% if user_status == 'has_sources' %}
    <p><a href="{% url 'source_list' %}">See your Sources</a>.</p>
    {% endif %}
    {% if user_status == 'no_sources' %}
    <p>You're not part of any Sources. <a href="{% url 'source_new' %}">Create a new Source</a>, or ask to be invited to one.</p>
    {% endif %}
    {% if user_status == 'anonymous' %}
    <p>You need an account to work with Sources. <a href="{% url 'login' %}">Sign in</a> or <a href="{% url 'django_registration_register' %}">register an account</a>.</p>
    {% endif %}

    <hr />
    <h2>Public Sources</h2>
    <ul class="object_list">
        {% for source in public_sources %}
            <li><a href="{% url 'source_main' source.id %}">{{ source.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
