{% extends 'base.html' %}

{% block title %}Activation failed - CoralNet{% endblock %}

{% block content %}
  {% if activation_error.code == 'already_activated' %}
    Your account's already active! If you didn't expect this, your email service/client (such as Outlook) might have previewed the activation link, or you might have accidentally double-clicked the activation link. Anyway, you should be able to <a href="{% url 'login' %}">log in</a>!
  {% elif activation_error.code == 'invalid_key' %}
    Sorry, this activation link doesn't seem to be valid. Try double checking that you used the entire activation link in the email you received. Some email readers may have problems detecting links with colons in them.
  {% elif activation_error.code == 'expired' %}
    Sorry, this activation link expired. We can <a href="{% url 'activation_resend' %}">send you another activation email</a>.
  {% else %}
    Sorry, we couldn't activate your account. (Reason: {{ activation_error.message }}) Please feel free to ask for help as directed in the activation email.
  {% endif %}
{% endblock %}
