{% extends 'base.html' %}

{% block title %}Register a new account - CoralNet{% endblock %}

{% block content %}

<form action="" method="post">
  {% csrf_token %}

  <legend>Register a new account</legend>

  <div class="line">
    Please read our data policy on the
    <a href="{% url 'about' %}" target="_blank">About page</a>.
  </div>

  {{ main_form.non_field_errors }}
  {{ profile_form.non_field_errors }}
  {{ honeypot_form.non_field_errors }}

  <div class="page-section">
    {% include "form_generic_one_field.html" with field=main_form.username %}
    {% include "form_generic_one_field.html" with field=main_form.email %}
    {% include "form_generic_one_field.html" with field=main_form.password1 %}
    {% include "form_generic_one_field.html" with field=main_form.password2 %}

    {# Honeypot; for catching robots #}
    <span style="display: none;">
      {% for field in honeypot_form %}
        {% include "form_generic_one_field.html" with field=field %}
      {% endfor %}
    </span>
  </div>

  <div class="page-section">
    <div class="line">
      Since we have open registration, we'd like to know a little more about you so we have confidence that you're a legitimate user. If you prefer, you can edit your account profile later to hide your personal details from public view.
    </div>
    {% include "form_generic_one_field.html" with field=main_form.first_name %}
    {% include "form_generic_one_field.html" with field=main_form.last_name %}
    {% include "form_generic_one_field.html" with field=profile_form.affiliation %}
    {% include "form_generic_one_field.html" with field=profile_form.reason_for_registering %}
    {% include "form_generic_one_field.html" with field=profile_form.project_description %}
    {% include "form_generic_one_field.html" with field=profile_form.how_did_you_hear_about_us %}
  </div>

  <div class="page-section">
    {% include "form_generic_one_field.html" with field=main_form.agree_to_data_policy %}
  </div>

  <div class="submit_button_wrapper_column_form">
    <input type="submit" value="Register" />
  </div>

  <div class="line">
    Problems with registration or activation? <a href="{{ account_questions_link }}">Let us know</a> so we can help.
  </div>
</form>

{% endblock %}
