{% extends "images/base_source.html" %}
{% load thumbnail_async from async_media_tags %}
{% load jsonify from common_tags %}

{% block title %}{{ source.name }} - Browse Images | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/ImageSearchHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/BrowseActionHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/CalcifyTablesHelper.js" %}

  {% include "static-local-include.html" with type="css" path="css/browse.css" %}
{% endblock %}

{% block content %}

  <div class="tool-heading">
    <span>Browse Images</span>
    <div class="tutorial-message">
      {% include 'visualization/help_browse.html' %}
    </div>
  </div>

  {# Search form #}
  {% include "visualization/browse_search_form.html" with form=image_search_form %}

  {% if page_results.paginator.count == 0 %}
    {{ empty_message }}
  {% else %}

    {# Grid of images #}
    {% for image in page_results.object_list %}
      {% thumbnail_async image.original_file '150x150' request as thumb_dict %}

      <span class="thumb_wrapper">
        <a href="{% url 'image_detail' image.pk %}">
          <img class="thumb {{ image.get_annotation_status_code }} media-async"
            src="{{ thumb_dict.src }}"
            data-async-request-hash="{{ thumb_dict.async_request_hash }}"
            title="{{ image.get_image_element_title }} - {{ image.get_annotation_status_str }}"/>
        </a>
      </span>
    {% endfor %}

    {# Pagination info and links #}
    {% include 'pagination_links.html' with use_post_form=True hidden_form=hidden_image_form page_results=page_results %}

    {# Annotation and deletion require source roles, and export requires login to keep out bots. So, no actions are available if not logged in. #}
    {% if user.is_authenticated %}

      {% include 'visualization/browse_images_actions.html' %}

    {% endif %}

  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    ImageSearchHelper.init();

    {% if page_results.paginator.count > 0 and user.is_authenticated %}
      {# Action form is present. #}
      let browseActionHelper = new BrowseActionHelper(
          {{ page_image_ids|jsonify }});
      let calcifyTablesHelper = new CalcifyTablesHelper(
          {{ can_manage_source_data|jsonify }});
    {% endif %}

    window.seleniumDebugInitRan = true;
  </script>

{% endblock %}
