<div class="pagination">
  <span>
    Showing {{ page_results.start_index }}-{{ page_results.end_index }}
    of {{ page_results.paginator.count }}
  </span>
  <br />
  <br />
  <span class="step-links">

    {% if page_results.has_previous %}
      <form action="" method="post">
        {% csrf_token %}
        {% for field in hidden_search_form %}
          {{ field }}
        {% endfor %}
        <input type="hidden" name="page"
          value="{{ page_results.previous_page_number }}" />
        <input type="submit" class="gray"
          value="<" title="Previous page" />
      </form>
    {% endif %}

    <span class="current">
      Page {{ page_results.number }}
      of {{ page_results.paginator.num_pages }}
    </span>

    {% if page_results.has_next %}
      <form action="" method="post">
        {% csrf_token %}
        {% for field in hidden_search_form %}
          {{ field }}
        {% endfor %}
        <input type="hidden" name="page"
          value="{{ page_results.next_page_number }}" />
        <input type="submit" class="gray"
          value=">" title="Next page" />
      </form>
    {% endif %}

  </span>
</div>