{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}{{ source.name }} - Browse Patches | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/VisSearchFormHelper.js" %}
  {% include "static-local-include.html" with type="css" path="css/visualize_source.css" %}
{% endblock %}

{% block content %}

  <legend>Browse Patches</legend>

  <div class="tutorial-message">
    {% include "visualization/help_browse.html" %}
  </div>

  {# Search form #}
  <div id="search-form-box" class="box">
    <form action="" method="post" id="search-form">
      {% csrf_token %}

      {% with image_form=image_search_form patch_form=patch_search_form %}

        {% for field in image_form.metadata_choice_fields %}
          {{ field.label }}: {{ field }}
        {% endfor %}
        <br/>
        {{ image_form.date_filter.label }}: {{ image_form.date_filter }}
        {# Hidden field #}
        {{ image_form.image_form_type }}
        <br/>
        {{ patch_form.label.label }}: {{ patch_form.label }}
        {{ patch_form.annotation_status.label }}:
          {{ patch_form.annotation_status }}
        {{ patch_form.annotator.label }}: {{ patch_form.annotator }}

      {% endwith %}

      <div class="submit_button_wrapper_center">
        <input type='submit' value="Search">
      </div>
    </form>
  </div>

  {% if page_results.paginator.count == 0 %}
    {{ empty_message }}
  {% else %}

    {# Grid of patches #}
    {% for patch in patches %}
      <span class="thumb_wrapper">
        <a href="{% url 'annotation_tool' patch.image.pk %}">
          <img class="thumb"
               src="{{ patch.thumbnail_url }}"
               title="Point {{ patch.point_number }} ({{ patch.row }},{{ patch.col }}) in: {{ patch.image.get_image_element_title }}"/>
        </a>
      </span>
    {% endfor %}

    {# Pagination info and links #}
    {% include 'visualization/browse_pagination_info.html' with hidden_form=hidden_image_and_patch_form page_results=page_results %}
  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    BrowseSearchHelper.initSearchForm();
  </script>

{% endblock %}
