{# Modal dialog contents live in this hidden element until they're needed. #}
<div hidden>
  <div id="manage-calcify-tables">
    {% include "calcification/manage_tables.html" with calcify_table_form=calcify_table_form default_calcification_tables=default_calcification_tables %}
  </div>
</div>

{# Forms to perform an action on one or more images. #}
<div id="action-box" class="box">

  <legend>Image Actions</legend>

  <span>Action:</span>

  <select name="browse_action" title="Action">
    <option value="">(Select an action)</option>

    {% if can_annotate %}
      <option value="annotate">Enter Annotation Tool</option>
    {% endif %}

    <optgroup label="Export">
      <option value="export_metadata">Export Metadata</option>
      <option value="export_annotations">Export Annotations, CSV</option>
      {% if can_export_cpc_annotations %}
        <option value="export_annotations_cpc">Export Annotations, CPCe</option>
      {% endif %}
      <option value="export_image_covers">Export Image Covers</option>
      <option value="export_calcify_rates">Export Calcification Rates</option>
    </optgroup>

    <optgroup label="Manage images">
    {% if can_manage_source_data %}
      <option value="delete_images">Delete Images</option>
      <option value="delete_annotations">Delete Annotations Only</option>
    {% endif %}
  </select>

  <span>for these images:</span>

  <select name="image_select_type" title="Image selection">
    <option value="all">
      All {{ page_results.paginator.count }}
      image results</option>
    {# The name 'selected' will make more sense when we replace this #}
    {# option with the more general 'the checkbox-selected images on #}
    {# this page' option. #}
    <option value="selected">
      The {{ page_results.object_list.count }}
      images on this page</option>
  </select>

  {# Below are the possible action forms. #}

  {# This form allows refreshing the current Browse page #}

  <form hidden action=""
  method="post" id="refresh-browse-form">
    {% csrf_token %}
    <span id="previous-image-form-fields">
      {# The image-filter parameters that led us to this browse page. #}
      {% if hidden_image_form %}
        {% include 'django/forms/default.html' with form=hidden_image_form %}
      {% endif %}
    </span>
  </form>

  <form hidden action="{% url 'export_metadata' source.pk %}" method="post"
  id="export-metadata-form">
    {% csrf_token %}

    <div class="line">
      Export metadata for these images in CSV format - one row per image. This includes anything you would see in CoralNet's "Edit Metadata" page: image date, auxiliary metadata, camera, and so on.

      <div class="tutorial-message">
        {% include "export/help_metadata.html" %}
      </div>
    </div>

    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'export_annotations' source.pk %}"
  method="post" id="export-annotations-form">
    <hr/>
    {% csrf_token %}

    <div class="line">
      Export annotations for these images in CSV format - one row per annotation.

      <div class="tutorial-message">
        {% include "export/help_annotations_csv.html" %}
      </div>
    </div>

    {% include 'django/forms/default.html' with form=export_annotations_form %}

    <div class="line">
      Note: This can take a very long time, potentially 1 minute per 5000 annotations. If your source has thousands of images, please consider filtering your search to a smaller number of images before exporting.
    </div>

    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'export_image_covers' source.pk %}" method="post"
  id="export-image-covers-form">
    <hr/>
    {% csrf_token %}

    <div class="line">
      Export per-image coverage statistics for each of these images. For example, image 0001.JPG consists of 5% Acropora, 10% Porites, etc. based on the annotations.

      <div class="tutorial-message">
        {% include "export/help_image_covers.html" %}
      </div>
    </div>

    {% include 'django/forms/default.html' with form=export_image_covers_form %}

    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'calcification:stats_export' source.pk %}"
  method="post" id="export-calcify-rates-form">
    <hr/>
    {% csrf_token %}

    <div class="line">
      Export per-image calcification rates for each of these images.

      <div class="tutorial-message">
        {% include "calcification/help_export.html" %}
      </div>
    </div>

    {# TODO: Make this button a bit more easily distinguishable if possible #}
    <button type="button" id="manage-calcify-tables-button">
      {% if can_manage_source_data %}
        Click here to manage label-rate tables
      {% else %}
        Click here to view label-rate tables
      {% endif %}
    </button>

    {% include 'django/forms/default.html' with form=export_calcify_rates_form %}

    <button class="submit">Go</button>
  </form>

  {% if can_annotate %}

    <form hidden action="{{ links.annotation_tool_first_result }}"
    method="post" id="annotate-all-form">
      {% csrf_token %}
      <div class="line">
        This takes you to the annotation tool for the first image in this image set. Then, the annotation tool's Prev/Next buttons will only navigate through this image set.
      </div>

      <button class="submit">Go</button>
    </form>

    <form hidden action="{{ links.annotation_tool_page_results.0 }}"
    method="post" id="annotate-selected-form">
      {% csrf_token %}
      <div class="line">
        This takes you to the annotation tool for the first image in this image set. Then, the annotation tool's Prev/Next buttons will only navigate through this image set.
      </div>

      <button class="submit">Go</button>
    </form>

  {% endif %}

  {% if can_export_cpc_annotations %}

    {# Export annotations CPC #}

    <form hidden action="{% url 'cpce:export_prepare_ajax' source.pk %}"
    method="post" id="export-annotations-cpc-ajax-form">
      <hr/>
      {% csrf_token %}

      <div class="line">
        {{ cpc_export_form.previous_cpcs_help_text }}

        <div class="tutorial-message">
          {% include "cpce/help_export.html" %}
        </div>
      </div>

      {% include 'django/forms/default.html' with form=cpc_export_form %}

      <button class="submit">Go</button>
    </form>

    <form hidden action="{% url 'cpce:export_serve' source.pk %}"
    method="post" id="export-annotations-cpc-form">
      {% csrf_token %}
    </form>

  {% endif %}

  {% if can_manage_source_data %}

    {# Delete images #}

    <form hidden action="{% url 'browse_delete_ajax' source.pk %}"
    method="post" id="delete-images-ajax-form">
      {% csrf_token %}
      <div class="line">
        Permanently deletes the images in this image set, along with their annotations. When you click "Go", a confirmation dialog will pop up.
      </div>

      <button class="submit">Go</button>
    </form>

    {# Delete annotations #}

    <form hidden action="{% url 'batch_delete_annotations_ajax' source.pk %}"
    method="post" id="delete-annotations-ajax-form">
      {% csrf_token %}
      <div class="line">
        Permanently deletes any existing annotations for these images. The images themselves and their point locations will not be affected. When you click "Go", a confirmation dialog will pop up.
      </div>

      <button class="submit">Go</button>
    </form>

  {% endif %}

</div>
