{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}{{ source.name }} - Browse Images | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/ImageSearchHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/BrowseActionHelper.js" %}

  {% include "static-local-include.html" with type="css" path="css/browse.css" %}
{% endblock %}

{% block content %}

  <legend>Browse Images</legend>

  <div class="tutorial-message">
    {% include "visualization/help_browse.html" %}
  </div>

  {# Search form #}
  <div id="search-form-box" class="box">
    <form action="" method="post" id="search-form">
      {% csrf_token %}

      {% with form=image_search_form %}

        {% for field in form.metadata_choice_fields %}
          {# Put label+field in a div to ensure they stay on the same line. #}
          <div style="display: inline-block">
            {{ field.label }}: {{ field }} </div>
        {% endfor %}
        <br/>
        {{ form.date_filter.label }}: {{ form.date_filter }}
        {{ form.annotation_status.label }}: {{ form.annotation_status }}
        <br/>
        {{ form.image_name.label }}: {{ form.image_name }}
        {# Hidden field #}
        {{ form.image_form_type }}

      {% endwith %}

      <div class="submit_button_wrapper_center">
        <input type="submit" value="Search">
      </div>
    </form>
  </div>

  {% if page_results.paginator.count == 0 %}
    {{ empty_message }}
  {% else %}

    {# Grid of images #}
    {% for image in page_results.object_list %}
      <span class="thumb_wrapper">
        <a href="{% url 'image_detail' image.pk %}">
          <img class="thumb {{ image.get_annotation_status_code }}"
            src="{% thumbnail image.original_file 150x150 %}"
            title="{{ image.get_image_element_title }} - {{ image.get_annotation_status_str }}"/>
        </a>
      </span>
    {% endfor %}

    {# Pagination info and links #}
    {% include 'pagination_links.html' with use_post_form=True hidden_form=hidden_image_form page_results=page_results %}

    {# The image-filter parameters that led us to this browse page. #}
    {# May be used when submitting the action form. #}
    <span id="previous-image-form-fields" style="display:none;">
      {% if hidden_image_form %}
        {% for field in hidden_image_form %}{{ field }}{% endfor %}
      {% endif %}
    </span>

    {% get_obj_perms user for source as 'source_perms' %}

    {# Action form #}
    <div id="action-form-box" class="box">

      <select name="browse_action" title="Action">
        {% if 'source_edit' in source_perms %}
          <option value="annotate">Enter Annotation Tool</option>
        {% endif %}

        <option value="export">Export</option>

        {% if 'source_edit' in source_perms %}
          <option value="delete">Delete</option>
        {% endif %}
      </select>

      <span id="action_form_annotate_specifics">
        for
      </span>
      <span id="action_form_export_specifics">
        <select name="export_type" title="Export type">
          <option value="metadata">Metadata</option>
          <option value="annotations_simple">Annotations, Simple</option>
          <option value="annotations_full">Annotations, Full</option>
          <option value="image_covers">Image Covers</option>
        </select>
        for
      </span>
      <span id="action_form_delete_specifics">
      </span>

      <select name="image_select_type" title="Image selection">
        <option value="all">
          All {{ page_results.paginator.count }}
          image results</option>
        {# The name 'selected' will make more sense when we replace this #}
        {# option with the more general 'the checkbox-selected images on #}
        {# this page' option. #}
        <option value="selected">
          The {{ page_results.object_list.count }}
          images on this page</option>
      </select>

      <form action="" method="post" id="action-form">
        {% csrf_token %}
        <span id="action-form-field-container"></span>
        <button type="button" class="submit" id="action-submit-button">
          Go</button>
      </form>
    </div>
  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    ImageSearchHelper.init();

    {% if page_results.paginator.count > 0 %}
      BrowseActionHelper.init({
          pageImageIds: {{ page_image_ids|jsonify }},
          links: {{ links|jsonify }}
      });
    {% endif %}
  </script>

{% endblock %}
