{# Modal dialog contents live in this hidden element until they're needed. #}
<div hidden>
  <div id="manage-calcify-tables">
    {% include "calcification/manage_tables.html" with calcify_table_form=calcify_table_form default_calcification_tables=default_calcification_tables %}
  </div>
</div>

{# Forms to perform an action on one or more images. #}
<div id="action-box" class="box">

  <legend>Image Actions</legend>

  <div class="tutorial-message">
    {% include "visualization/help_browse_actions.html" %}
  </div>

  <span>Action:</span>

  <select name="browse_action" title="Action">
    <option value="">(Select an action)</option>

    {% if can_annotate %}
      <option value="annotate">Enter Annotation Tool</option>
    {% endif %}

    <optgroup label="Export">
      <option value="export_metadata">Export Metadata</option>
      <option value="export_annotations">Export Annotations, CSV</option>
      {% if can_export_cpc_annotations %}
        <option value="export_annotations_cpc">Export Annotations, CPCe</option>
      {% endif %}
      <option value="export_image_covers">Export Image Covers</option>
      <option value="export_calcify_rates">Export Calcification Rates</option>
    </optgroup>

    <optgroup label="Manage images">
    {% if can_manage_source_data %}
      <option value="delete_images">Delete Images</option>
      <option value="delete_annotations">Delete Annotations Only</option>
    {% endif %}
  </select>

  <span>for these images:</span>

  <select name="image_select_type" title="Image selection">
    <option value="all">
      All {{ page_results.paginator.count }}
      image results</option>
    {# The name 'selected' will make more sense when we replace this #}
    {# option with the more general 'the checkbox-selected images on #}
    {# this page' option. #}
    <option value="selected">
      The {{ page_results.object_list.count }}
      images on this page</option>
  </select>

  {# Below are the possible action forms. #}

  {# This form allows refreshing the current Browse page #}

  <form hidden action=""
  method="post" id="refresh-browse-form">
    {% csrf_token %}
    <span id="previous-image-form-fields">
      {# The image-filter parameters that led us to this browse page. #}
      {% if hidden_image_form %}
        {% for field in hidden_image_form %}{{ field }}{% endfor %}
      {% endif %}
    </span>
  </form>

  <form hidden action="{% url 'export_metadata' source.pk %}" method="post"
  id="export-metadata-form">
    {% csrf_token %}
    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'export_annotations' source.pk %}"
  method="post" id="export-annotations-form">
    <hr/>
    {% csrf_token %}

    {% include "form_generic.html" with form=export_annotations_form %}

    <div class="line">Note: This can take a long time, potentially 1 minute per 5000 annotations. If your source has thousands of images, please consider filtering your search to a smaller number of images before exporting.</div>

    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'export_image_covers' source.pk %}" method="post"
  id="export-image-covers-form">
    {% csrf_token %}

    {% include "form_generic.html" with form=export_image_covers_form %}

    <button class="submit">Go</button>
  </form>

  <form hidden action="{% url 'calcification:stats_export' source.pk %}"
  method="post" id="export-calcify-rates-form">
    {% csrf_token %}
    <hr/>

    <button type="button" id="manage-calcify-tables-button">
      {% if can_manage_calcification_tables %}
        Click here to manage label-rate tables
      {% else %}
        Click here to view label-rate tables
      {% endif %}
    </button>

    {% include "form_generic.html" with form=export_calcify_rates_form %}

    <button class="submit">Go</button>
  </form>

  {% if can_annotate %}

    <form hidden action="{{ links.annotation_tool_first_result }}"
    method="post" id="annotate-all-form">
      {% csrf_token %}
      <button class="submit">Go</button>
    </form>

    <form hidden action="{{ links.annotation_tool_page_results.0 }}"
    method="post" id="annotate-selected-form">
      {% csrf_token %}
      <button class="submit">Go</button>
    </form>

  {% endif %}

  {% if can_export_cpc_annotations %}

    {# Export annotations CPC #}

    <form hidden action="{% url 'export_annotations_cpc_create_ajax' source.pk %}"
    method="post" id="export-annotations-cpc-ajax-form">
      <hr/>
      {% csrf_token %}

      {% if source.confidence_threshold == 100 %}
        {# Not using Alleviate; this choice doesn't make a difference #}
        <span style="display:none;">
          {% include "form_generic_one_field.html" with field=cpc_prefs_form.annotation_filter field_type='radio' %}
        </span>
      {% else %}
        {% include "form_generic_one_field.html" with field=cpc_prefs_form.annotation_filter field_type='radio' %}
      {% endif %}

      <div class="line">
        {% if previous_cpcs_status == 'all' %}
          All of the images in this search have previously-uploaded CPC files available. Their environment info, notes, and header values will be preserved when exporting to CPC.
        {% elif previous_cpcs_status == 'some' %}
          Some of the images in this search have previously-uploaded CPC files available. Their environment info, notes, and header values will be preserved when exporting to CPC. The rest of the images will use the environment info in the text fields below, and will not have notes or header values. Click the "?" help button for more information.
        {% elif previous_cpcs_status == 'none' %}
          None of the images in this search have previously-uploaded CPC files available. They will use the environment info in the text fields below, and will not have notes or header values. Click the "?" help button for more information.
        {% endif %}
      </div>

      {% if previous_cpcs_status == 'all' %}
        {# All images have CPC environment info; no need to provide that info #}
        <span style="display:none;">
          {% include "form_generic_one_field.html" with field=cpc_prefs_form.local_code_filepath %}
          {% include "form_generic_one_field.html" with field=cpc_prefs_form.local_image_dir %}
        </span>
      {% else %}
        {% include "form_generic_one_field.html" with field=cpc_prefs_form.local_code_filepath %}
        {% include "form_generic_one_field.html" with field=cpc_prefs_form.local_image_dir %}
      {% endif %}

      {% include "form_generic_one_field.html" with field=cpc_prefs_form.plus_notes checkbox='yes' %}

      <button class="submit">Go</button>
    </form>

    <form hidden action="{% url 'export_annotations_cpc_serve' source.pk %}"
    method="post" id="export-annotations-cpc-form">
      {% csrf_token %}
    </form>

  {% endif %}

  {% if can_manage_source_data %}

    {# Delete images #}

    <form hidden action="{% url 'browse_delete_ajax' source.pk %}"
    method="post" id="delete-images-ajax-form">
      {% csrf_token %}
      <button class="submit">Go</button>
    </form>

    {# Delete annotations #}

    <form hidden action="{% url 'batch_delete_annotations_ajax' source.pk %}"
    method="post" id="delete-annotations-ajax-form">
      {% csrf_token %}

      <div class="line">Deletes the annotations for these images. The images themselves and their point locations will not be affected.</div>

      <button class="submit">Go</button>
    </form>

  {% endif %}

</div>
