{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}{{ source.name }} - Edit Metadata | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/ImageSearchHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/ImageMetadataFormHelper.js" %}

  {% include "static-local-include.html" with type="css" path="css/browse.css" %}
{% endblock %}

{% block content %}

  <legend>Edit Metadata</legend>

  <div class="tutorial-message">
    {% include "visualization/help_browse.html" %}
  </div>

  {# Search form #}
  {% include "visualization/browse_search_form.html" with form=image_search_form %}

  {% if num_images == 0 %}
    {{ empty_message }}
  {% else %}
    {% include "visualization/metadata_form.html" with metadata_formset=metadata_formset metadata_rows=metadata_rows select_all_form=select_all_form num_images=num_images %}
  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    ImageSearchHelper.init();
    {% if num_images > 0 %}
      initMetadataForm({
          metadataSaveAjaxUrl: '{% url 'edit_metadata_ajax' source.id %}'
      });
    {% endif %}
  </script>

{% endblock %}
