{% extends "images/base_source.html" %}
{% load thumbnail %}
{% load guardian_tags %}
{% load common_tags %}

{% block title %}{{ source.name }} - Edit Metadata | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/VisSearchFormHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/ImageMetadataFormHelper.js" %}
  {% include "static-local-include.html" with type="css" path="css/visualize_source.css" %}
{% endblock %}

{% block content %}

  <legend>Edit Metadata</legend>

  <div class="tutorial-message">
    {% include "visualization/help_browse.html" %}
  </div>

  {# Search form #}
  <div id="search-form-box" class="box">
    <form action="" method="post" id="search-form">
      {% csrf_token %}

      {% with form=image_search_form %}

        {% for field in form.metadata_choice_fields %}
          {# Put label+field in a div to ensure they stay on the same line. #}
          <div style="display: inline-block">
            {{ field.label }}: {{ field }} </div>
        {% endfor %}
        <br/>
        {{ form.date_filter.label }}: {{ form.date_filter }}
        {{ form.annotation_status.label }}: {{ form.annotation_status }}
        {# Hidden field #}
        {{ form.image_form_type }}

      {% endwith %}

      <div class="submit_button_wrapper_center">
        <input type='submit' value="Search">
      </div>
    </form>
  </div>

  {% if num_images == 0 %}
    {{ empty_message }}
  {% else %}
    {% include "visualization/metadata_form.html" with metadata_formset=metadata_formset metadata_rows=metadata_rows select_all_form=select_all_form num_images=num_images %}
  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    BrowseSearchHelper.initSearchForm();
    {% if num_images > 0 %}
      initMetadataForm({
          metadataSaveAjaxUrl: '{% url 'metadata_edit_ajax' source.id %}'
      });
    {% endif %}
  </script>

{% endblock %}
