<div class="article-body">

<p>Select an action with the left dropdown box. Then use the right dropdown box to specify whether to apply the action to all images in the search, or just the images on this page. Depending on the action, additional options may appear as well. Click "Go" to run the action.</p>

<p>The available actions are:</p>

<h3>Enter Annotation Tool</h3>

<p>(Requires source Edit or Admin permissions) This takes you to the annotation tool for the first image in the specified image set. Then, the annotation tool's Prev/Next buttons will only navigate through the specified image set.</p>

<h3>Export</h3>

<p>Export (download) data about the specified image set from CoralNet to your computer. There are several kinds of export data available, selectable with a dropdown box.</p>

<p>Each export type uses CSV format unless explained otherwise. A CSV (comma-separated values) file can be opened in a spreadsheet program like Excel.</p>

<p>Note: the export file may take a long time to generate. After you click "Go", CoralNet will start generating the export file, and you must stay on this page until the export file is generated. Once it has finished generating, your browser will start downloading the file (or will prompt you to choose a download location).</p>

<p>The available types of export data are:</p>

<ul>
  <li><strong>Metadata:</strong> Spreadsheet containing anything you would see in the "Edit Metadata" page: image date, auxiliary metadata, camera, and so on. One row per image.</li>

  <li><strong>Annotations, CSV:</strong> Spreadsheet containing one row per annotation in the image set. By default, includes columns for: Image name, Pixel row (Y), Pixel column (X), and Label. There are also optional sets of columns available:

    <ul>
      <li>Annotator info: The username of the user who made the annotation, and the date the annotation was made. Imported annotations show as "Imported" and machine annotations show as "robot".</li>

      <li>Machine suggestions: Labels and confidence scores for the machine's top 5 suggestions.</li>

      <li>Image metadata - date and auxiliary fields: The image's date field and 5 auxiliary metadata fields.</li>

      <li>Image metadata - other fields: Other image metadata fields such as depth, camera, and white balance.</li>
    </ul>

   TIP: If you are only interested in Confirmed annotations, then first do an image search with "Annotation status" set to "Confirmed", and then export annotations.</li>

  <li>
    <strong>Annotations, CPCe:</strong> (Requires source Edit permissions) Annotations as .cpc files which can be opened in Coral Point Count. There will be one .cpc file per image, and the .cpc files will be contained in a .zip archive file. If you're not familiar with opening .zip files, see <a href="https://www.wikihow.com/Open-a-Zip-File" target="_blank">this WikiHow article</a>. The .cpc file format contains several pieces of information besides point positions and labels; here's how we handle each one:

    <ul>
      <li>Notes codes: Coral Point Count has a Notes column in the list of points, and the Notes codes you enter in this column are saved in the .cpc file. This info is available based on .cpc files you've previously uploaded. If you have uploaded a .cpc file for a particular CoralNet image, that .cpc file's Notes codes will be retained, and those Notes codes will be used when you request a .cpc export for that image. If you have never uploaded a .cpc file for this CoralNet image, the Notes codes will be blank.</li>

      <li>Header data: When you create a .cpc file in Coral Point Count, at some point it shows a window with 28 header fields such as Project name, Site name, Latitude, Easting, etc. Similarly to the Notes codes, this info is available based on .cpc files you've previously uploaded. (You might notice that these header fields have some overlap with CoralNet's metadata fields, but CoralNet does not currently make any connection between these fields on import/export.)</li>

      <li>
        Computer environment info: This includes the location of the .txt code file that CPCe uses to match label codes to label names/groups, and the location of the image file that was opened in CPCe. Unlike Notes codes and Header data, this environment info is necessary to make a .cpc work in Coral Point Count. Here's what CoralNet does to make sure this info is filled in:

        <ul>
          <li>CoralNet first looks for this info in previously uploaded .cpc files.</li>
          <li>If one or more images do not have a previous .cpc, then this action form will show form fields where you can fill in the environment values. These values will be automatically filled in with information from other images' uploaded .cpc files, if available. If no .cpc has been uploaded to this source before, then the fields will be blank and you'll have to fill them in.</li>
        </ul>

        If you have to fill in the environment info yourself, the code file location should look something like <code>C:\CPCe_41_inst\coral_codes.txt</code>, and the image folder location should look something like <code>C:\Image_data\Panama_corals</code> (you may have a slash at the end or not). Note that the image folder is a folder location, not a file location; the actual image file might be at C:\Image_data\Panama_corals\DSC_0048.JPG.
      </li>
    </ul>
  </li>

  <li><strong>Image Covers:</strong> Coverage statistics for each image in the set; for example, this image consists of 5% label A, 10% label B, etc. based on the annotations. Also included is the image's "annotation area", which is the area of the image where the random points are scattered.</li>
</ul>

<h3>Delete</h3>

<p>(Requires source Edit or Admin permissions) Permanently delete the images in the specified image set, along with their annotations. When you click "Go", a confirmation dialog will pop up. In the dialog, type "delete" (without the quotes) and hit Enter to proceed with deletion.</p>

</div>
