<div class="article-body">


<p>There are three different pages which give an overview of
  your source's data.</p>


<h3>Browse Images</h3>

<p>Browse through pages of images displayed as thumbnails.
  Below the grid, click the arrow buttons to go to the next or
  previous page.</p>

<p>The search box at the top lets you choose a subset of images. Change the search fields, then click Search to apply the filters. The "Image name contains" field accepts punctuation, so you can use search queries like <i>dsc_ .jpg</i> or <i>dupe-name</i>. The "Sort by" and "Direction" fields let you change the ordering of the search results.</p>

<p>You can mouse-over an image thumbnail to see its filename and
  annotation status. The thumbnail's border color also indicates the
  image's annotation status.</p>

<p>The box below the page navigator lets you run an action on the current set of images. Click the help button in that box for more details. (You must be signed in to see the box.)</p>


<h3>Edit Metadata</h3>

<p>Requires source Edit or Admin permissions.</p>

<p>Show images' metadata as a grid of text fields.
  You can get a smaller set of images with the Search form,
  just like in Browse Images.</p>

<p>Type in the text fields to edit the metadata, then click the Save Edits button below to save your edits. If there are any errors, the errors will display below the metadata grid and nothing will be saved yet. Note that saving might take a while if there are many images in the metadata grid.</p>

<p>You can edit multiple images' metadata at the same time by using
  the checkboxes along the left side. If you check multiple images, and
  then edit the metadata of one of those checked images, those edits
  will be applied to all of the images you've checked. You can also use
  the top checkbox to check or un-check all of the images.</p>

<p>The "Height (cm)" field is the number of centimeters of substrate the image covers, from the top of the image to the bottom. This was formerly required by the automatic annotation system, but now it's just an ordinary metadata field that you can optionally fill in for your information.</p>


<h3>Browse Patches</h3>

<p>Similar to Browse Images, except that each thumbnail is an image cut-out
  or "patch" which represents a point location within that image.
  You can use the Search form to only display patches of a particular Label.
  Mouse-over an image patch to see which image and which point the patch is
  from.</p>


</div>
