{% extends "base.html" %}

{% block title %}API Job {{ job.id }} | CoralNet{% endblock %}


{% block css-code %}
<style type="text/css">
tr[data-status="{{ PENDING }}"] {
  background-color: #bbe;
}
tr[data-status="{{ IN_PROGRESS }}"] {
  background-color: #eeb;
}
tr[data-status="{{ SUCCESS }}"] {
  background-color: #beb;
}
tr[data-status="{{ FAILURE }}"] {
  background-color: #ebb;
}
</style>
{% endblock %}


{% block content %}

<h1>API Job {{ job.id }}</h1>

<ul class="detail_list">
  <li>Job request date: {{ job.create_date }}</li>
  <li>User who requested the job: {{ job.user }}</li>
  <li>Job type: {{ job.type }}</li>
  <li>Overall status: {{ job_status.overall_status }}</li>
</ul>
<br>

<h2>Unit statuses</h2>

<table class="generic">
  <thead>
    <tr>
      <th title="Unit ID">ID</th>
      <th title="Unit type">Type</th>
      <th title="Progress status">Status</th>
      <th title="JSON with request details">Request JSON</th>
      <th title="Error message">Error</th>
    </tr>
  </thead>
  <tbody>
    {% for unit in units %}
      <tr data-status="{{ unit.status }}">
        <td>{{ unit.id }}</td>
        <td>{{ unit.type }}</td>
        <td>{{ unit.status_display }}</td>
        <td>
          <ul class="detail_list">
            {% for rj_string in unit.request_json_strings %}
              <li>{{ rj_string }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ unit.error_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
