/*
 * List of blog posts (post_list)
 */

.blog-post-row {
  margin-top: 60px;
  margin-bottom: 60px;
}
.blog-post-content-preview {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 * Blog posts (post_detail)
 */

.blog-post-content {
  margin-top: 60px;
  margin-bottom: 60px;
}
.blog-post-meta {
  color: #999;
}
