{% extends "blog/base.html" %}

{% block content %}
  <h1>Welcome to the CoralNet blog!</h1>

  {% for entry in entries %}
    <div class="blog-entry-row">
      <h3>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
      </h3>

      <div class="blog-entry-meta">
        {% if entry.is_published %}
          {{ entry.published_timestamp|date:"DATE_FORMAT" }}
        {% else %}
          (Unpublished draft)
        {% endif %}
      </div>

      <div class="blog-entry-content-preview">
        {# preview_content is a Markup object. To check if there's #}
        {# non-empty preview content, we need to check the `raw` attr. #}
        {% if entry.preview_content.raw %}
          {% if entry.preview_image %}
            <a href="{{ entry.get_absolute_url }}">
              <img src="{{ entry.preview_image.url }}"
                   alt="Preview image for {{ entry.title }}"/>
            </a>
          {% endif %}
          {{ entry.preview_content }}
        {% else %}
          {# Truncate derived from: Avg reading speed (3.33 words/s) * Average attention span (8s) #}
          {{ entry.content|truncatewords_html:26 }}
          <a href="{{ entry.get_absolute_url }}">
            (More...)
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% include 'pagination_links.html' with page_results=page_obj %}
{% endblock %}
