{% load static %}
{% load truncate_float from common_tags %}

{% load calcify_rate_indicator from calcification %}


<div class="label-basic-info-and-thumbnail-wrapper">

  <div class="label-basic-info">

    {% include 'labels/label_basic_fields.html' %}

  </div>

  {% if label.thumbnail %}
    {# Placeholder src to delay loading the actual image until it is shown. #}
    {# Actual image is in the data-src attribute. #}
    {# Placeholder is 1x1 transparent, from: https://png-pixel.com/ #}
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
         data-src="{{ label.thumbnail.url }}"
         class="label-thumbnail lazy-load" alt="{{ label.name }}"/>
  {% else %}
    <img src="{% static "img/placeholders/media-no-image-available__150x150.png" %}"
         class="label-thumbnail" alt="{{ label.name }}" />
  {% endif %}

</div>

<div class="line">
  Calcification rate data: {% calcify_rate_indicator label 'text' %}
</div>

<div class="line">
  {% if label.description %}
    Description: {{ label.description|truncatewords:30 }}
  {% else %}
    Description: (None)
  {% endif %}
</div>

<a href="{% url 'label_main' label.pk %}" target="_blank">
  See more details</a>
