{% extends "images/base_source.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}Labelset for {{ source.name }} - CoralNet{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="css" path="css/labels.css" %}
{% endblock %}

{% block content %}

  <legend>Labelset</legend>

  <table id="label-table" class="detail_table">
    <tr>
      <th>Name</th>
      <th>Short Code</th>
      <th>Functional Group</th>
    </tr>
    {% for label in labels %}
      <tr>
        <td class="name">
          <a href="{% url 'label_main' label.global_label.pk %}">
          {{ label.name }}</a></td>
        <td>{{ label.code }}</td>
        <td>{{ label.group }}</td>
      </tr>
    {% endfor %}
  </table>

  {% get_obj_perms user for source as "source_perms" %}

  {% if "source_admin" in source_perms %}
    <div class="line">
      <a href="{% url 'labelset_edit' source.id %}">Edit label entries</a>
    </div>
    <div class="line">
      <a href="{% url 'labelset_add' source.id %}">Add/Remove labels</a>
    </div>
  {% endif %}

  <div class="page_section">
    {% if "source_admin" in source_perms %}
      <div class="line">
        <a href="{% url 'labelset_import' source.id %}">Import label entries from CSV</a>
      </div>
    {% endif %}

    <div class="line">
      <form method="GET" action="{% url 'export_labelset' source.id %}">
        <input type="submit" value="Export label entries to CSV"/>
      </form>
    </div>
  </div>

{% endblock %}
