{% extends "base.html" %}
{% load calcify_icon popularity_bar status_icon from labels %}

{% block title %}Label list - CoralNet{% endblock %}

{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/LabelList.js" %}

  {% include "static-local-include.html" with type="css" path="css/labels.css" %}
{% endblock %}

{% block content %}
  <h2>All Labels</h2>

  {% if can_edit_labels %}
    <div class="line">
      <a href="{% url 'label_new' %}">+ Create a new label</a>
    </div>
    <div class="line">
      <a href="{% url 'labelset_duplicates' %}">List of duplicate labels</a>
    </div>
  {% endif %}

  {# Search form #}
  <div id="search-form-box" class="box">
    <form id="search-form" data-url="{% url 'label_list_search_ajax' %}">

      {% for field in search_form %}
        {# Put label+field in a div to ensure they stay on the same line. #}
        <div style="display: inline-block">
          {{ field.label }}: {{ field }} </div>
      {% endfor %}

    </form>
  </div>

  <div id="label-search-status" class="line"></div>

  <table id="label-table" class="detail_table">
    <tr>
      <th>Name</th>
      <th>Functional Group</th>
      <th>Popularity</th>
      <th>Status
        <div class="tutorial-message">
          {% include 'labels/label_list_status_help.html' %}
        </div>
      </th>
      <th>Default<br/>Short Code</th>
    </tr>
    {% for label in labels %}
      <tr data-label-id="{{ label.id }}">
        <td class="name"><a href="{% url 'label_main' label.id %}">{{ label.name }}</a></td>
        <td>{{ label.group }}</td>
        <td>{% popularity_bar label %}</td>
        <td class="status-cell">
          {% status_icon label %}
          {% calcify_icon label has_calcify_info %}
        </td>
        <td>{{ label.default_code }}</td>
      </tr>
    {% endfor %}
  </table>

  <div class="page_section">The load time of this page may vary, due to how label popularities are computed.</div>

  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    LabelList.init();
  </script>
{% endblock %}
