{% load labels %}
{% load truncate_float from common_tags %}

<p>Name: {{ label.name }}</p>
<p>Functional Group: {{ label.group.name }}</p>
<p>Default Short Code: {{ label.default_code }}</p>

{% if label.duplicate %}
  <p>
    <strong>
      THIS LABEL IS A DUPLICATE OF:
      <a href="{% url 'label_main' label.duplicate.id %}">
        {{ label.duplicate }}
      </a>
    </strong>
  </p>
{% endif %}

<div class="line">Verified:
  {{ label.verified|yesno|title }}
  {% if label.verified %}
    {% status_icon label %}
  {% endif %}
</div>

<div class="line">Popularity:
  {{ label.popularity|truncate_float }}%
  {% popularity_bar label %}
</div>
