{% load labels %}
{% load truncate_float from common_tags %}

<div class="line">Name: {{ label.name }}</div>
<div class="line">Functional Group: {{ label.group.name }}</div>
<div class="line">Default Short Code: {{ label.default_code }}</div>

{% if label.duplicate %}
  <div class="line">
    <strong>
      THIS LABEL IS A DUPLICATE OF:
      <a href="{% url 'label_main' label.duplicate.id %}">
        {{ label.duplicate }}
      </a>
    </strong>
  </div>
{% endif %}

<div class="line">Verified:
  {{ label.verified|yesno|title }}
  {% if label.verified %}
    {% status_icon label %}
  {% endif %}
</div>

<div class="line">Popularity:
  {{ label.popularity|truncate_float }}%
  {% popularity_bar label %}
</div>
