{% extends "base.html" %}

{% load static %}
{% load labels %}

{% block title %}{{ label.name }} (Label) | CoralNet{% endblock %}

{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/LabelMain.js" %}
  {% include "static-local-include.html" with type="css" path="css/labels.css" %}
{% endblock %}

{% block content %}

  <h1>{{ label.name }}</h1>

  {% if can_edit_label %}
    <a href="{% url 'label_edit' label.id %}"
      title="Regular users can edit unverified labels if they're the admin of every source that uses the label.">
      Edit this label</a>
  {% endif %}

  <hr />

  <div class="label-basic-info-and-thumbnail-wrapper">

    <div class="label-basic-info">

      {% include 'labels/label_basic_fields.html' %}

      <p>Stats: Used in {{ source_count }} sources
        and for {{ annotation_count }} annotations</p>
    </div>

    {% if label.thumbnail %}
      <img src="{{ label.thumbnail.url }}" alt="{{ label.name }}"
           class="label-thumbnail"/>
    {% else %}
      <img src="{% static 'img/placeholders/media-no-image-available__150x150.png' %}"
           alt="No image available"
           class="label-thumbnail"/>
    {% endif %}

  </div>

  <dl>

    <dt>
      Calcification rate data:
      <div class="tutorial-message">
        {% include "calcification/help_default_rates.html" with calcification_table_ids=calcification_table_ids %}
      </div>
    </dt>
    <dd class="calcification-rate-data">
      {% if calcification_rates %}
        <table class="detail_table">
          <tr>
            <th>Region</th>
            <th>Mean</th>
            <th>Lower bound</th>
            <th>Upper bound</th>
          </tr>
          {% for region, rates in calcification_rates.items %}
            <tr>
              <td>{{ region }}</td>
              <td>{{ rates.mean }}</td>
              <td>{{ rates.lower_bound }}</td>
              <td>{{ rates.upper_bound }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        (Not available)
      {% endif %}
    </dd>

    <dt>Description:</dt>
    <dd>
      {% if label.description %}
        {{ label.description|linebreaks }}
      {% else %}
        (None)
      {% endif %}
    </dd>

    <dt>Used in these sources:</dt>
    <dd>
      {% if source_count > 0 %}
        {% for source in users_sources %}
          <a href="{% url 'source_main' source.id %}">
            <strong>{{ source.name }}</strong></a> |
        {% endfor %}

        {% for source in other_public_sources %}
          <a href="{% url 'source_main' source.id %}">
            {{ source.name }}</a> |
        {% endfor %}

        {% for source in other_private_sources %}
          {{ source.name }} |
        {% endfor %}
      {% else %}
        (None)
      {% endif %}
    </dd>

  </dl>

  <p>Create Date: {{ label.create_date|default:"(Unknown)" }}</p>
  <p>Created By: {{ label.created_by|default:"(Unknown)" }}</p>

  <p>Example Patches:</p>
  <div id="patches-container"></div>

  <button id="get-more-patches-button" type="button">Get more patches</button>
  <span id="patch-loading-status"></span>


  {# Script in the body will run on page load. #}
  <script type="text/javascript">
    LabelMain.init({
        'patchesUrl': '{% url 'label_example_patches_ajax' label.id %}'
    });
  </script>

{% endblock %}
