{% load static from staticfiles %}
{% load truncate_float from common_tags %}
{% load labels %}

{% if label.thumbnail %}
  {# Placeholder src to delay loading the actual image until it is shown. #}
  {# Actual image is in the data-src attribute. #}
  {# Placeholder is 1x1 transparent, from: http://png-pixel.com/ #}
  <img
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
    class="lazy-load" data-src="{{ label.thumbnail.url }}" style="float: right;" />
{% else %}
  <img src="{% static "img/placeholders/thumbnail-no-image-available__150x150.png" %}" style="float: right;" />
{% endif %}

<div class="line">Name: <strong>{{ label.name }}</strong></div>
<div class="line">Functional Group: {{ label.group.name }}</div>
<div class="line">Default Short Code: {{ label.default_code }}</div>

<div class="line">Verified:
  {{ label.verified|yesno|title }}
  {% verified_icon label %}
</div>
<div class="line">Popularity:
  {{ label.popularity|truncate_float }}%
  {% popularity_bar label %}
</div>

{% if label.description %}
  <div class="line">Description: {{ label.description }}</div>
{% else %}
  <div class="line">Description: (None)</div>
{% endif %}

<a href="{% url 'label_main' label.pk %}" target="_blank">
  See more details</a>
