<p>
    A label is verified after it has been inspected by our label-set
    <a href="/about/#people">curator</a>. It needs to comply with the following criterion
    <ul class="simple">
    <li>Correct spelling.</li>
    <li>Default Short Code formatting consistent with other labels.</li>
    <li>Satisfactory description.</li>
    <li>No duplicates.</li>
    </ul>
    If possible, please compose your label-set with verified labels.
That will ensure more studies are compatible across sources.
Verified labels will be updated as the scientific literature evolves.
</p>
