{% for labelset in labelsets %}
  <div>
    {# The outer element implements the grid with float: left, #}
    {# while the inner element defines a size for the item. #}
    <div class="labelset-select-box" data-labelset-id="{{ labelset.pk }}">
      <div class="select-button">
        {{ labelset.source_set.first.name }}
      </div>
    </div>

    <div class="labelset-label-names-box" data-labelset-id="{{ labelset.pk }}"
      data-labelset-labels-url="{% url 'labelset_labels_ajax' labelset.pk %}">
      {% for label in labelset.get_globals_ordered_by_name %}
        <div class="labelset-label-name-box">
          <div class="label-name">{{ label.name }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
